@import "../../theme";
@import "ClearFieldVariables";

.root {
  height: ($interaction-type-row-span * $grid-row-height);
  border: 0;
  padding: 0 $field-gutter-width;
  background-color: transparent;
  color: $dna-mid-gray;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    color: $dna-mid-gray-dark;
  }
}

.clearSvg {
  height: $clear-icon-size;
  width: $clear-icon-size;
}
