area {
}

audio {
  @extend %reset-block;
}

canvas {
  @extend %reset-block;
}

embed {
  @extend %reset-block;
}

figure {
  @extend %reset-block;
  @extend %reset-margin;

  figcaption {
    @extend %reset-block;
  }
}

hr {
  @extend %reset-margin;
}

iframe {
  @extend %reset-block;
  @extend %reset-border;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  @extend %reset-margin;
}

map {
  
  area {
  }
}

picture {
  max-width: 100%;
  @extend %reset-margin;
}

object {
  @extend %reset-block;
}

video {
  @extend %reset-block;
}
