<link rel="stylesheet" type="text/css" href="/css/rater.css" media="screen" />
<script src="/js/jquery.rater.js" language="JavaScript"></script>
<script type="text/javascript">
function popup_ecard(pkid){
        
        
	$('#basicModalContent').modal();
}
function send_ecard(){
var email=document.getElementById('email').value;
var pkid=document.getElementById('pkid').value;
var message=document.getElementById('message').value;
var img=document.getElementById('pkimg').value;


window.location.href='http://<{$smarty.session.centre_host}>/index.php?action=presskits&form_name=send_ecard&pkid='+pkid+'&send_email='+email+"&msg="+message+"&pkimg="+img;

}

$(window).ready(function(){
	$("#message").keypress(function(){
		var text=this.value;
		text=text.replace(/[^\w\d\s\.\,\:\'\"\-\!\$\#\%\*\(\)]/g,"");
		if (text.length>80) {
			text=text.substr(0,80);
		}
		this.value=text;
	});
});

</script>



<style type="text/css">
#simplemodal-overlay {background-color:#000; cursor:wait;}
.simplemodal-wrap{overflow:auto;}
</style>
<div id="basicModalContent" style='display:none'>
         <p align="center" id="get_email_address">
	<form name="email" method="get">
	<table>
		<h1><{$download_object->selected_files[0].file_path}></h1>
	<tr  align="center">
			<td colspan="2" align="center"><h3>Send selected files as an e-Card</h3></td>
			<td rowspan="6"><img src="/assets/presskits/gallery/<{$download_object->selected_files[0].file_path}>/l_<{$download_object->selected_files[0].down_name}>" style="margin-left:30px;" id="presskitThumb" /></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	<tr  align="center">
			<td>Email:</td><td><input class= contact_txt_field type="text" id="email" name="email"></td>
	</tr>
	<tr  align="center">
			<td>Message:</td><td><textarea id="message" name="message" cols="30" rows="5"></textarea></td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	
	<tr>
		<td>&nbsp;</td>
		<td  style="text-align:center">
			<input type=hidden name=pkid id="pkid" value='<{$smarty.get.pkid}>'>
			<input type=hidden name=pkimg id="pkimg" value='<{$download_object->selected_files[0].file_path|regex_replace:'/^.*?gallery\/(\d*)\/([^\/]+)\/.*$/':'$1/$2'}>/l_<{$download_object->selected_files[0].down_name}>'>
			<a  class=butt_submit onclick="return send_ecard(<{$smarty.get.pkid}>);"></a>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding: 20px 75px 0 30px;"><h3>Warning:</h3> <p>This ecard will send a link to the recipient which will allow the download of your selected files.</p>
		<p>Please consider the download file size when sending e-cards, and warn your recipient if the file size is large.</p></td>
	</tr>
	</table>
	</form>
	</p>
         <p align="center" id="email_submit"></p>
</div>
<div class="pressTab">
	<div id="tabs">
		<ul>
		<{section name=itype loop=$itemtype}>
			<li><a href="#tabs-<{$itemtype[itype].itid}>" val="<{$itemtype[itype].itid}>"><{$itemtype[itype].name}></a><span></span></li>
		<{/section}>
		</ul>
		<{foreach from=$itemtype item=itype name=itemtype}>
			<div id="tabs-<{$itype.itid}>"  val="<{$itype.itid}>">
				
				<{show_block module="presskits"
				block="presskititembytype"
				pkid="`$smarty.get.pkid`"
				presskit_itid="`$itype.itid`"
				template_name="presskititembytype"}>
				
			</div>
		<{/foreach}>
		
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {

$('<{section name=itype loop=$itemtype}>#mycarousel-<{$itemtype[itype].itid}>, <{/section}>').jcarousel({
	scroll: 1
});
//Initiating the tab
$('#tabs').tabs();
});
</script>

