

<script language="JavaScript">
    $(document).ready(function() {
	if($('#rate<{$cur_image->getId()}>').html() == "")
    $('#rate<{$cur_image->getId()}>').rater('index.php?action=presskits&form_name=rate_image&pkid=<{$cur_presskit->getId()}>&iid=<{$cur_image->getId()}>', {style: 'basic', curvalue:<{if $cur_image->getRating() eq '' }>0<{else}><{$cur_image->getRating()}><{/if}>});
 
});
</script>
<div id ="rate<{$cur_image->getId()}>"></div>
