<{section name=album loop=$latest_albums}>
	<div>
        <span>
            <a href="<{$formname}>?action=imagegallery&form_name=view_blog&aid=<{$latest_albums[album]->getID()}>">
            <h4><{$latest_albums[album]->getName()}></h4>
            </a>
			<br/>
        </span>
<{*
        <p class="small">
            <i>Created by <{$latest_albums[album]->getUsrID()}> at <{$latest_albums[album]->getCrtTime()|date_format:"%Y-%m-%d"}></i>
        </p>
*}>
        <{if is_array($latest_images[album].output)}>

            <{foreach key=key name=main from=$latest_images[album].output item=image}>
                <{if $smarty.foreach.main.first}>
                    <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="padding-right:5px;vertical-align:top">
                            <img src="weblog/<{$latest_albums[album]->getID()}>.jpg" alt="<{$latest_albums[album]->getUsrID()}>" />
                        </td>
                        <td>
                            <a href="<{$filename}>?action=imagegallery&form_name=view_image&form_action=view&aid=<{$image->getBlogID()}>&iid=<{$image->getID()}>" title=""><b><{$image->getTitle()}></b></a><br />
                            <{$image->getText()|truncate:200:"..."}> <a class="more" href="<{$filename}>?action=imagegallery&form_name=view_image&form_action=view&aid=<{$image->getBlogID()}>&iid=<{$image->getID()}>" title="">Read more</a>
                            <p class="right">
                                <img src="template_images/icons/image.gif" alt="" />
                                Images: <{$latest_albums[album]->getAprImages()}>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <img src="template_images/icons/icon_talkback2.gif" alt="" />
                                Comments: <{$latest_albums[album]->getAprComments()}>
                            </p>
                        </td>
                    </tr>
                    </table>
                    <{if $smarty.foreach.main.total gt 1}>
                    <u>Other recent images</u>
                    <ul>
                    <{/if}>
                <{elseif $smarty.foreach.main.total gt 1}>
					<li><a href="<{$filename}>?action=imagegallery&form_name=view_image&form_action=view&aid=<{$image->getBlogID()}>&iid=<{$image->getID()}>" title=""><b><{$image->getTitle()}></b></a>&nbsp;&nbsp;(<i><{$image->getAprComments()}> comments</i>)</li>
                <{/if}>
            <{/foreach}>
            </ul>
        <{/if}>
		<hr />
		<br/>
    </div>
<{/section}>
<{include file="`$modules_path`/imagegallery/templates/pager.html"}>