<ul id="mycarousel_latest" class="jcarousel-skin-tango">
<{section name=image loop=$recent_images max=20}>
<li>
	<a href="index.php?action=presskits&form_name=view_presskit&pkid=<{$recent_images[image]->getParentID()}>&pkcat=<{$recent_images[image]->getField('pkcat')}>"><img src="/assets/presskits/gallery/<{$recent_images[image]->getParentID()}>/image_gallery/s_<{$recent_images[image]->getFilename()}>" Title="<{$recent_images[image]->getFilename()}>" /></a>

</li>

<{sectionelse}>

There are no image items

<{/section}>
</ul>
<script type="text/javascript">
$(document).ready(function() {
$('#mycarousel_latest').jcarousel({scroll: 2});
});
</script>