
	<{section name=image loop=$recent_images}>
	<div class="imageBox" id="<{$recent_images[image]->getID()}>">
	<a href="<{$filename}>?action=imagegallery&form_name=view_image&aid=<{$recent_images[image]->getParentID()}>&iid=<{$recent_images[image]->getID()}>">
	<div class="imageBox_theImage" style="background-image:url('/modules/presskits/image_gallery/s_<{$recent_images[image]->getFilename()}>')"></div>
	</a>
	<div class="imageBox_label"><span><{$recent_images[image]->getCaption()}></span></div>
	</div>
    <{/section}>
