
	form{
		display:inline;
	}
	.imageBox,.imageBoxHighlighted{
		/* width:130px;	Total width of each image box */
		/* height:160px;	Total height of each image box */
		width:155px;
		margin:0px 5px 10px 5px;
		float:left;
		cursor: pointer;
		
	}
	
		.imageBox_M,.imageBoxHighlighted_M{
		/* width:130px;	Total width of each image box */
		/* height:160px;	Total height of each image box */
		width:144px;
		margin:5px 4px 10px 0px;
		float:left;
	}
	.imageBox_theImage{
		/* width:110px;	Width of image */
		/* height:125px;	Height of image */
		width:76px;
		height:76px;
		border:#CCCCCC; 
		float:left;
		
		/* 
		Don't change these values *
		*/
		background-position: center center;
		background-repeat: no-repeat;		
		margin: 0 auto;
		margin-bottom:2px;
	}
	
	
		.imageBox_theImage_M{
		/* width:110px;	Width of image */
		/* height:125px;	Height of image */
		width:142px;
		height:142px;
		border:#CCCCCC solid 1px; 
		float:left;
		
		/* 
		Don't change these values *
		*/
		background-position: center center;
		background-repeat: no-repeat;		
		margin: 0 auto;
		margin-bottom:2px;
	}
	
	.imageBox .imageBox_theImage{
		border:1px solid #DDD;	/* Border color for not selected images */
		padding:2px;
		background-color:#FFFFFF;
		cursor: pointer;
	}
	.imageBoxHighlighted .imageBox_theImage{
		border:3px solid #316AC5;	/* Border color for selected image */
		padding:0px;

	}
	.imageBoxHighlighted span{	/* Title of selected image */
		background-color: #316AC5;
		color:#FFFFFF;
		padding:2px;
	}
	
	.imageBox_label{	/* Title of images - both selected and not selected */
		width:60px;
		padding-left:5px;
		font-family: arial;
		font-size:10px !important;		
		margin: 0 auto;
		float:left;
		padding-right:5px;
	}
	
	.imageBox_label span {font-size:10px !important;	}
	
		.imageBox_label_M{	/* Title of images - both selected and not selected */
		width:134px;
		padding-left:5px;
		font-family: arial;
		font-size:11px !important;		
		margin: 0 auto;
		float:left;
		padding-right:5px;
	}
	

	.imageBox_label_M span a {font-size: 10px !important; font-weight: normal !important; line-height: 13px !important; }
	
	/* 
	DIV that indicates where the dragged image will be placed	
	*/
	#insertionMarker{
		height:150px;
		width:6px;
		position:absolute;
		display:none;

	}
	
	#insertionMarkerLine{
		width:6px;	/* No need to change this value */
		height:145px;	/* To adjust the height of the div that indicates where the dragged image will be dropped */
	
	}
		
	#insertionMarker img{
		float:left;
	}
	
	/*
	DIV that shows the image as you drag it 
	*/
	#dragDropContent{

		opacity:0.4;	/* 40 % opacity */
		filter:alpha(opacity=40);	/* 40 % opacity */

		/* 
		No need to change these three values 
		*/
		position:absolute;
		z-index:10;
		display:none;
			
	}
	
	div.b_menu {
		padding-bottom:5px;
	}
