<link href="templates/nf.lightbox.css" rel="stylesheet" type="text/css" media="screen" />
<script src="js/NFLightBox.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
        var settings = { containerResizeSpeed: 350
            };
            $('.crs .nf_pop').lightBox(settings);
        });
    </script>
	
<ul id="mycarousel-<{$itype.itid}>" class="jcarousel-skin-tango">
<{foreach name=images from=$presskit_timages key=curkey item=curimage}>
<li class="crs" style="visibility:hidden">
<a class="nf_pop" style="height: 94px; margin-left: 20px; float: left;" href="/modules/presskits/gallery/<{$curimage->getParentID()}>/image_gallery/l_<{$curimage->getFilename()}>" rel="prettyPhoto[gallery]" 
title="<{$curimage->getFilename()}>" id="
<span class='pp_title'><{$curimage->getFilename()|truncate:'50':'...'}></span><br/>
<span class='pp_title'>File size:
	<{assign var="spec" value=$curimage->getImgDetails()}>
	<{$spec.size}>
</span>
<span class='pp_title'>File Type: <{$spec.type}></span>
<span class='pp_title'>Dimension: <{$spec.height}>px(H) , <{$spec.width}>px(W)</span>
<span class='pp_downloads'>
<a title='Download' href='/modules/presskits/gallery/<{$curimage->getParentID()}>/image_gallery/<{$curimage->getFilename()}>'>
	<img src='template_images/download_lightbox.gif' alt='Download'/>
</a>
<{*<a title='download' href=''>
&nbsp;&nbsp;&nbsp;<img src='template_images/ecard_lightbox.gif' alt='Ecard'/>
</a>*}>
</span> 
">
		<span class="carousel_img" style="background-image: url('/modules/presskits/gallery/<{$curimage->getParentID()}>/image_gallery/s_<{$curimage->getFilename()}>');">
			&nbsp;
		</span>
</a>		
		<{if $download_object->isImageSelected($curimage->getID()) }>
		   <span id="sty" class="activebox"></span>
		   <span class="checkpress"><input type=checkbox id="chk_add"  rel="/index.php?action=presskits&form_name=view_presskit&pkid=<{$curimage->getParentID()}>&form_action=<{if $download_object->isImageSelected($curimage->getID())}>remove_list<{else}>add_list<{/if}>&iid=<{$curimage->getID()}>&pkcat=<{$smarty.get.pkcat}>#tabs-<{$curimage->getItemId()}>" name="r1" class="styled" checked />Selected</span><br />	
		<{else}>
		  <span id="sty"  class=""></span>
		  <span class="checkpress"><input  type=checkbox rel="/index.php?action=presskits&form_name=view_presskit&pkid=<{$curimage->getParentID()}>&form_action=<{if $download_object->isImageSelected($curimage->getID())}>remove_list<{else}>add_list<{/if}>&iid=<{$curimage->getID()}>&pkcat=<{$smarty.get.pkcat}>#tabs-<{$curimage->getItemId()}>" id="chk_add" name="r1" class="styled"/> Select</span><br />
		<{/if}>
	<span class="action_link"><a href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$curimage->getParentID()}>&form_action=<{if $download_object->isImageSelected($curimage->getID())}>remove_list<{else}>add_list<{/if}>&iid=<{$curimage->getID()}>&pkcat=<{$smarty.get.pkcat}>#tabs-<{$curimage->getItemId()}>"><{if $download_object->isImageSelected($curimage->getID()) }>Remove Item<{else}>Add&nbsp;to&nbsp;List<{/if}></a></span>
	<br /><!--span>Viewd: <{$curimage->getNoOfAccess()}> times</span-->
</li>
<div id="<{$curimage->getID()}>_rating" style='display:none'>
<{*show_block module="presskits" block="rate_image" presskit_id=$smarty.get.pkid image_id=$curimage->getID()*}>
</div>
<{/foreach}>
<{foreach name=documents from=$presskit_tdocuments key=curkey item=curdocument}>
<li>
<img src="/modules/presskits/image_gallery/s_pdf.gif" width="67" height="91" />
	<br />
	<a href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$curdocument->getParentID()}>&form_action=<{if $download_object->isDocumentSelected($curdocument->getID())}>remove_list<{else}>add_list<{/if}>&did=<{$curdocument->getID()}>&pkcat=<{$smarty.get.pkcat}>#tabs-<{$curimage->getItemId()}>"><{if $download_object->isDocumentSelected($curdocument->getID())}>Remove Item<{else}>Add to List<{/if}></a>
	<br /><span>Viewed: <{$curdocument->getNoOfAccess()}> times</span>
</li>
<{/foreach}>
<{foreach name=videos from=$presskit_tvideos key=curkey item=curvideo}>
<li>
<img src="/modules/presskits/image_gallery/video_icon.png" width="67" height="91" />
	<br />
	<a href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$curvideo->getParentID()}>&form_action=<{if $download_object->isVideoSelected($curvideo->getID())}>remove_list<{else}>add_list<{/if}>&vid=<{$curvideo->getID()}>&pkcat=<{$smarty.get.pkcat}>#tabs-<{$curimage->getItemId()}>"><{if $download_object->isVideoSelected($curvideo->getID())}>Remove from list<{else}>Add to List<{/if}></a>
	<br /><span>Viewed: <{$curvideo->getNoOfAccess()}> times</span>
</li>
<{/foreach}>
</ul>