
<{if is_object($product)}>
<{include file="productcatalogue/verify.html"}>

<{assign var='platform' value=$product->getCustomChar6()}>
<{include file=`$platform`_platform_subheader.html}>

<div class="game_page_holder">
      <div class="game_subcolumn">
        <div class="subcolumn_content">
          <div class="gamepage_cover_holder">
<{if is_object($prodcat)}>
	<{if $prodcat->getID() eq '6' OR $prodcat->getParentID() eq '6' OR $prodcat->getID() eq '5' or $prodcat->getParentID() eq '5' OR $prodcat->getID() eq '4' or $prodcat->getParentID() eq '4' OR $prodcat->getID() eq '144' or $prodcat->getParentID() eq '144'}>	
		<{if  $product->getCustomChar6() eq 'wii'}>
			<div class="gamepage_game_cover_wii"><img alt="<{$product->getName()}>"
			<{if $product->getImage3() ne ''}>
			src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage3()}>"
			<{else}>
			src="http://www.nintendo.com.au/template_images/no_image_details.gif"
			<{/if}>
			width="180" height="255"/>
			</div>
		<{else}>
			<div <{if $prodcat->getID() eq '4' OR $prodcat->getParentID() eq '4'}>
				class="dsiwaremain_coverbg_ds"
				<{elseif $prodcat->getID() eq '5' OR $prodcat->getParentID() eq '5'}>
				class="wiiwaremain_coverbg_ds"
				<{elseif $prodcat->getID() eq '6' OR $prodcat->getParentID() eq '6'}>
				class="virtualconsolemain_coverbg_ds"
				<{elseif $prodcat->getID() eq '144' OR $prodcat->getParentID() eq '144'}>
					<{if $product->getCustomChar6() eq '3dclassics' OR $product->getCustomChar6() eq '3dsdownload'}>
						class="threed_classics_main_coverbg_vconsole3ds"
					<{elseif $product->getCustomChar6() eq 'dsiwareeshop' or $product->getCustomChar6() eq 'dsiware'}>
						class="dsiwaremain_coverbg_ds"
					<{else}>
						class="virtualconsolemain_coverbg_vconsole3ds"
					<{/if}>
				<{else}>
				class="gamepage_game_cover_ds"
				<{/if}>><img  alt="<{$product->getName()}>"
			<{if $product->getImage3() ne ''}>
			src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage3()}>"
			<{else}>
				<{if $prodcat->getID() eq '4' OR $prodcat->getParentID() eq '4'}>
				src="http://www.nintendo.com.au/template_images/dsiware_details.jpg"
				<{elseif $prodcat->getID() eq '5' OR $prodcat->getParentID() eq '5'}>
				src="http://www.nintendo.com.au/template_images/wiiware_details.jpg"
				<{elseif $prodcat->getID() eq '6' OR $prodcat->getParentID() eq '6'}>
				src="http://www.nintendo.com.au/template_images/vir_con_details.jpg"
				<{else}>
				src="http://www.nintendo.com.au/template_images/no_image.gif"
				<{/if}>
			<{/if}> width="180" style="max-height: 161px;"/>
			</div>
		<{/if}>	
	<{else}>
		<{if  $product->getCustomChar6() eq 'wii'}>
			<div class="gamepage_game_cover_wii"><img  alt="<{$product->getName()}>" <{if $product->getImage3() ne ''}>
			src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage3()}>"
			<{else}>
			src="http://www.nintendo.com.au/template_images/no_image_details.gif"
			<{/if}>
			width="180" height="255"/>
			</div>
		<{else}>
			<div class="gamepage_game_cover_ds"><img  alt="<{$product->getName()}>" <{if $product->getImage3() ne ''}>
			src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage3()}>"
			<{else}>
				<{if $prodcat->getID() eq '4' OR $prodcat->getParentID() eq '4'}>
				src="http://www.nintendo.com.au/template_images/dsiware_details.jpg"
				<{elseif $prodcat->getID() eq '5' OR $prodcat->getParentID() eq '5'}>
				src="http://www.nintendo.com.au/template_images/wiiware_details.jpg"
				<{elseif $prodcat->getID() eq '6' OR $prodcat->getParentID() eq '6'}>
				src="http://www.nintendo.com.au/template_images/vir_con_details.jpg"
				<{else}>
				src="http://www.nintendo.com.au/template_images/no_image.gif"
				<{/if}>
			<{/if}>
			width="180" style="max-height: 161px;"/>
			</div>
		<{/if}>
	<{/if}>
<{else}>
		<{if  $product->getCustomChar6() eq 'wii'}>
			<div class="gamepage_game_cover_wii"><img  alt="<{$product->getName()}>" <{if $product->getImage3() ne ''}>
			src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage3()}>"
			<{else}>
			src="http://www.nintendo.com.au/template_images/no_image_details.gif"
			<{/if}>
			width="180" height="255"/>
			</div>
		<{else}>
			<div class="gamepage_game_cover_ds"><img  alt="<{$product->getName()}>" <{if $product->getImage3() ne ''}>
			src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage3()}>"
			<{else}>
			src="http://www.nintendo.com.au/template_images/no_image_details.gif"
			<{/if}> width="180"  style="max-height: 161px;"/>
			</div>
		<{/if}>
<{/if}>
          </div>
          <div class="game_details_holder">
		<h2 class="game_title"><{$product->getName()}></h2>
		<{if $prodcat->getID() eq '144' OR $prodcat->getParentID() eq '144'  OR $prodcat->getParentID() eq '146'}>
			<{if $product->getCustomChar14() eq ''}>
			<!-- no price -->
			<{elseif $product->getCustomChar14() lt 0.001 AND $product->getCustomChar14() gte 0}>
				<!--<p class="vconsole3ds_price">Price($AU): <span class="game_detail">FREE</span></p>-->
				<{elseif $product->getCustomChar14() lt 0.000}>
				<p class="vconsole3ds_price">Price($AU): <span class="game_detail">FREE</span></p>
			<{else}>
				<p class="vconsole3ds_price">Price($AU): <span class="game_detail">$<{$product->getCustomChar14()|string_format:"%.2f"}></span></p>
			<{/if}>
		<{/if}>
		<{if $product->getCustomChar6() eq "wiiware" OR  $product->getCustomChar6() eq "dsiware" OR $product->getCustomChar6() eq "vconsole" }>
			<p>Nintendo Points: <span class="game_detail"> <{$product->getPrice()|string_format:"%d"}> </span></p>
		<{/if}>
		<{strip}><p>Platform: <span class="game_detail">
		<{if $product->getCustomChar6() eq 'wii'}>Wii
		<{elseif $product->getCustomChar6() eq 'vconsole'}>Wii
		<{elseif $product->getCustomChar6() eq '3ds'}>Nintendo 3DS
		<{elseif $product->getCustomChar6() eq 'ds'}>Nintendo DS
		<{elseif $product->getCustomChar6() eq 'vconsole3ds'}>Virtual Console (eShop)
		<{elseif $product->getCustomChar6() eq '3dclassics' OR $product->getCustomChar6() eq '3dsdownload' }><!--Nintendo 3DS -->Download Software
		<{elseif $product->getCustomChar6() eq 'dsiwareeshop'}>DSiWare (eShop)
		<{elseif $product->getCustomChar6() eq 'dsiware'}>
			<{if $prodcat->getID() eq '144' OR $prodcat->getParentID() eq '144'}>
				DSiWare (eShop)
			<{else}>
				DSiWare
			<{/if}>
		<{else}>&nbsp;<{/if}>  </span></p><{/strip}>
		<p>Genre: <span class="game_detail"> <{$product->getBrandName()}> </span></p>
		<{if $product->getRatingName() neq 'No Rating.'}>
		<p>Rating: <span class="game_detail"><{$product->getRatingName()}>, <strong><{$product->getRatingAbrevation()}></strong></span></p>
		<{/if}>
		
		<p>Publisher: <span class="game_detail"><{$product->getCode()}></span></p>
		
		<!--No Action-->
		<{if $product->getCustomChar6() eq "wii" OR  $product->getCustomChar6() eq "3ds" OR $product->getCustomChar6() eq "ds" }>
		<!-- no system -->
		<{else}>
			<{strip}>
				<{if $product->getCustomChar6() eq 'vconsole' OR $product->getCustomChar6() eq 'vconsole3ds'}>
					<{if $product->getCustomChar7() eq ''}>
						<p>System: <span class="game_detail">Virtual Console </span></p>
					<{else}>
						<p>System: <span class="game_detail"><{$product->getCustomChar7()|replace:"SMS":"SEGA Mastersystem"|replace:"VCA":"Arcade"|replace:"Tgx":"Turbografx"|replace:"MegaDr":"SEGA Megadrive"|replace:"MegaDR":"SEGA Megadrive"|replace:"NEO":"NEO GEO"}> </span></p>
					<{/if}>
				<{elseif $product->getCustomChar7() neq ''}>
					<p>System: <span class="game_detail"><{$product->getCustomChar7()}> </span></p>
				<{/if}>
			<{/strip}>
		<{/if}>
		
		<{if $product->getCustomChar6() eq "wii" OR  $product->getCustomChar6() eq "3ds" OR $product->getCustomChar6() eq "ds" }>
		<p>Release Date: <span class="game_detail">
        <!-- template -->
        <{* BD - updated to automatically write Out Now if today is greater than release date *}>
      
        <{if $product->getReleaseDate()|date_format:"%d-%m-%Y" eq $product->getDateDisplayed() }>	
        	<{if $smarty.now > $product->getReleaseDate() }>
            	<{$product->getDateDisplayed()}>
            <{else}>
        		Out Now
            <{/if}>    
        <{else}>
        	<{$product->getDateDisplayed()}>
        <{/if}>
        
        <{* BD - removing original out now code
        <{if $product->getDateDisplayed() eq 'Out Now'}>
		Out Now
		<{else}>
		<{$product->getDateDisplayed()}>
		<{/if}>
        *}>
		</span></p>
        
		<{/if}>

		<{* Fixed No skills variable : Carlo *}>
		<{* Updated the code - No skills variable : Stu *}>
		<{if $product->getMinSkill() ne 'No skills.' && $product->getMaxSkill() ne 'No skills.'}>
		<{if $prodcat->getID() eq '4' OR $prodcat->getParentID() eq '4' OR $prodcat->getID() eq '5' OR $prodcat->getParentID() eq '5' OR $prodcat->getID() eq '6' OR $prodcat->getParentID() eq '6'}>
		<!--No Action-->
		<{else}>
		
		<p>Skill Level: <span class="game_detail"><{$product->getMinSkill()|replace:"No skills":""}>
		
		<{if $product->getMaxSkill() ne '' and $product->getMaxSkill() ne $product->getMinSkill() }>
		- <{$product->getMaxSkill()|replace:"No skills":""}>
		<{/if}>
		
		<{/if}>
		
		<{* Added For Everyone option : Carlo : 13-08-10 *}>
		
		<{else}>
		<{if $product->getCustomInt1 () eq 5}>
		<p>Skill Level: <span class="game_detail">For Everyone</span></p>
		<{/if}>    
		<{/if}>
		
		
		<{if $product->getMinOrder() ne '' and $product->getMinOrder() gt 0 }> 
		<p>Players: <span class="game_detail">1
		<{if $product->getMaxOrder() ne '' and $product->getMaxOrder() gt 1 }> to <{$product->getMaxOrder()}> <{/if}>
		</span></p>
		<{/if}>		
		
		
		<{if $product->getCustomChar3()}>
		<p>
		Wi-fi:
		<span class="game_detail"> Wireless Gameplay</span>
		</p>
		<div class="wifi_logo">
		<a href="http://www.nintendowifi.com.au">Nintendo Wifi</a>
		</div>
		<{/if}>
		
		<{* START - Added Club Nintendo extra features : Carlo : 12-08-2010 *}> 
		<br />
		<br />
		<{*if $product->getCustomChar6() eq 'ds'}>
		<p><img src="/template_images/icons/playable-on-nintendo-3ds.png" alt="Playable on Nintendo 3DS" /></p>
		<{/if*}>
		
		<{if $prodcat_id eq "97" or $prodcat->getParentID() eq '97' OR $product->getcustomChar9() neq ''}>
		<p>
		<a href="http://club.nintendo.com.au/NOE/en_AU/club_nintendo/registration_2428.jsp" target="_blank"><img src="template_images/club_nintendo_register.jpg" /></a>
		</p>
		<p>
		Club Nintendo Stars Value: 
		<span class="game_detail"> <strong><{$product->getcustomChar9()}></strong></span>
		</p>
		<{/if}>	
		
		<{if $product->getcustomChar8() neq ''}>		
		<p>
		Launch Date:
		<span class="game_detail"> <strong><{$product->getcustomChar8()|date_format}></strong></span>
		</p>
		<{/if}>
		
		<{* END - Added Club Nintendo extra features *}>
		
		<!-- START - Added Club Nintendo extra features : AK : 08-07-2010 -->
		<{if $product->getCustomChar10() neq ''}>
		<br />
		<br />
		<p>
		<a href="<{$product->getCustomChar10()}>" target="_blank" title="Iwata Asks"><img src="template_images/iwata_asks.jpg" /></a>
		</p>                    
		<{/if}>
		<{if $product->getCustomChar11() neq ''}>
		<br />
		<p>
		<a href="<{$product->getCustomChar11()}>" target="_blank" title="Iwata Asks"><img src="template_images/visit_wii.jpg" /></a>
		</p>                    
		<{/if}>
		<!-- END - Added Club Nintendo extra features : AK : 08-07-2010 -->
		
		
		
		<{if $product->getSupportedAccessories() ne ""}>
		<p> Supported Controllers :</p>
		<{assign var='sa' value=$product->getSupportedAccessories()}>
		
		<{foreach from=$sa item='controller'}>
		<{if $controller.name eq 'Wii Remote'}>
		<p style="padding:10px; height:59px; vertical-align:middle; float:left;text-align:center">
		<img src="template_images/remote.jpg"  alt="Remote"/>
		</p>
		<{elseif $controller.name eq 'Nunchuk'}>
		<p style="padding:10px; height:54px; padding-top:15px; float:left;text-align:center">
		<img src="template_images/wii_nunchuk.jpg"  alt="Nunchuk"/>
		</p>
		<{elseif $controller.name eq 'Classic Controller'}>
		<p style="padding:10px; height:49px; padding-top:20px; float:left;text-align:center">
		<img src="template_images/joystick.jpg"  alt="Classic Controller"/>
		</p>
		<{elseif $controller.name eq 'GameCube Controller'}>
		<p style="padding:10px; height:49px; padding-top:20px; float:left;text-align:center">
		<img src="template_images/gamecube.jpg"  alt="GameCube controller"/>
		</p>
		<{elseif $controller.name eq 'Wii Zapper'}>
		<{*<p style="padding:10px; height:59px; vertical-align:middle; float:left;text-align:center">
		<img src="template_images/joystick.jpg"  alt="Wii Zapper"/>
		</p>*}>
		<{elseif $controller.name eq 'Wii Balance Board'}>
		<p style="padding:10px; height:49px; padding-top:20px; float:left;text-align:center">
		<img src="template_images/wii_balance.jpg"  alt="Wii Balance Board"/>
		</p>
		<{/if}>
		
		
		<{/foreach}>
		<{/if}>
		</div>  
        </div>

          <div class="game_column_right">
        
	<{if is_array($screenshots) and $screenshots|@count gt 0}> 		
    <div class="gamecolumn_holder">
              <div class="gamecolumn_right_header"></div>
              <div class="gamecolumn_right_content">
	
                <h3 class="gamepage_title_template_images">Game Images</h3>
                <!-- GAME IMAGES -->

	<{if !is_object($user) or $user->getID()  eq "2"}>
                <div id="game_images_holder" class="game_images_holder">
                <{foreach from=$screenshots item=screenshot name=game_images}>
				<{if $smarty.foreach.game_images.index <6}>
			<div style="background-image:url(http://www.nintendo.com.au/products/screenshot/<{$screenshot->resArr.screenshot_id}>/s_<{$screenshot->resArr.screenshot_image}>);" class="game_image">
				<{*
				<{if $screenshot->resArr.screenshot_req_login eq "1"}>
					<div   class="game_image_locked"></div>
				<{else}>
				*}>
					<div   class="game_image_unlocked">
					<a id="showscreenshot_<{$screenshot->resArr.screenshot_id}>" href="#images-video"></a>
					</div>
				<{*	
				<{/if}>
				*}>
			</div>
			<{/if}>
		<{/foreach}>
                  <div class="spacer"></div>
                </div>


	<{else}>

		<div class="game_images_holder" id="game_images_holder">
		
		<{foreach from=$screenshots item=screenshot}>
			<div style="background-image: url(http://www.nintendo.com.au/products/screenshot/<{$screenshot->resArr.screenshot_id}>/s_<{$screenshot->resArr.screenshot_image}>);" class="game_image">
				<div class="game_image_unlocked"><a id="showscreenshot_<{$screenshot->resArr.screenshot_id}>" href="#images-video"></a></div>
			</div>
		<{/foreach}>
				<div class="spacer"/>
				</div>
		</div>

	<{/if}>
        <p class="view_more_holder"><a id="link_images_videos" class="view_more_link" href="#images-video">View more images &amp; videos</a></p>
		<{*if !is_object($user) or $user->getID() eq "2" }>
			<div class="members_login_holder">
			<h3 class="members_title_unlock">Unlock Content</h3>
			<div class="members_login_form">
				<form method="post" name="login">
			<input type="hidden" value="login" name="form_name"/>
			<input type="hidden" value="login" name="action"/>
			<input type="hidden" value="login" name="form_action"/>
            <input type="hidden" value="index.php?<{$smarty.server.QUERY_STRING|replace:'&amp;':'&'}>" name="ret_page"/>

                <div style="margin: 0pt; padding: 0pt;"><input name="authenticity_token" value="d031396a58a410701f8d1cb7cf575ef0dc42f781" type="hidden"/></div>
			<p>Login to view all images &amp; video</p>
			<label class="email_label" for="login">Email:</label>
			<input class="email_input" id="login" name="login" type="text"/>
			<label class="password_label" for="password">Password:</label>
			<input class="password_input" id="password" name="password" type="password"/>
			<label class="remember_me" for="remember_me_overview"><input id="remember_me_overview" name="remember" value="1" type="checkbox"/> Remember Me</label>
	
			<button type="submit" name="commit" value="Login" class="login_button">Login</button>
			<p>&raquo;<span class="bold">Not a Member?</span></p>
			<p>Join Nintendo.com.au and enjoy exclusive member-only perks!</p>
			<p class="bold"><span class="uppercase"><a href="/index.php?action=register">Sign Up Now...</a></span></p>
			</form>
			</div>
			</div>
		<{else}>
		<{/if*}>
              </div>
            </div>

	<{/if}> 
            <div class="gamecolumn_right_footer"></div>
          </div>

      </div>
      <div class="game_maincolumn">
        <div class="maincolumn_header">
            <script type="text/javascript" src="/templates/scripts/jquery.ad-gallery.js"></script>
            <script type="text/javascript">
				$(function() {
					var galleries = $('.ad-gallery').adGallery();
					//console.log('adGallery fired');
					
					$('#btn_images_videos').click(function() {
						//console.log('image tab clicked - fire the resize');
						var galleries = $('.ad-gallery').adGallery(); //force the issue
					});
				});
            </script>         
         <{* ***********START NEW GAME PAGE*********** *}>
          <{* ***********TABS START HERE*********** *}>
          <{show_block module="catalogue" block="show_product_videos" sort_by="order" direction="asc"  product_id=$product->getId()}>
          <{* $product_videos|print_r *}>
          <div class="game_page_tabs">
            <ul>
              	<li class="overview"><a id="btn_overview" content="overview_content" href="#overview">Overview</a></li>
                <{if is_object($prodcat)}>
                    <{if $prodcat->getID() ne '6' or $prodcat->getParentID() ne '6'}>
                        <{if is_array($screenshots) and $screenshots|@count gt 0}>
                            <li class="template_images_videos"><a id="btn_images_videos" content="images_content" href="#images-video">Images / Video</a></li>
                        <{/if}>
                    <{/if}>
                <{else}>
                    <{if is_array($screenshots) and $screenshots|@count gt 0}>
                    	<li class="template_images_videos"><a id="btn_images_videos" content="images_content" href="#images-video">Images / Video</a></li>
                    <{/if}>
                <{/if}>
                <{if $product_videos}>
                <li class="template_images_videos"><a id="btn_videos" onclick="var s=s_gi('bwirednintendodev'); s.linkTrackVars='prop6'; s.linkTrackEvents='none'; s.prop6='<{$product->getName()}>'; s.tl(this,'o','Video View');" content="images_content" href="#video">Images / Video</a></li>
                 <{/if}>
                 <{*if $product->getHints() ne ""}>
                	<li class="hints_tips"><a id="btn_hints_tips" content="hints_content" href="#hints_content">Tips and Hints</a></li>
                <{/if*}>
            </ul>
			 
            
             <{* ***********START MAIN GAME DESCRIPTION*********** *}>
             
            <div id="overview" class="maincolumn_content dynamic_content">
			  <h1 class="game_title"  <{if $product->getUrl() eq ""}>style="float:none;"<{/if}> ><{$product->getName()}></h1>
			 <{if $product->getUrl() neq ""}>
				<a href="<{$product->getUrl()}>" target="_blank" class="visit-gamesite">Visit the official gamesite</a>
        <{/if}>    
          
            	<{$product->getDescription()}>
                  <{if is_object($prodcat)}>
                    <{if $prodcat->getID() eq '6' or $prodcat->getParentID() eq '6' OR  $prodcat->getID() eq '5' or $prodcat->getParentID() eq '5' OR  $prodcat->getID() eq '4' or $prodcat->getParentID() eq '4' OR  $prodcat->getID() eq '144' or $prodcat->getParentID() eq '144' }>
                        <{* DEV NOTE: Both Wii and non-wii code is identical - so have rationalised it - SS *}>
						<{*if  $product->getCustomChar6() eq 'wii'*}>
                            <{if $product->getImage2() ne '' }>
                            <div style="float:left"> <img  alt="<{$product->getName()}>" src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage2()}>" width="180" />
                            </div>
                            <{/if}>
                            <{if $product->getImage() ne '' }>
                            <div style="float:left; padding-left:20px;"> <img  alt="<{$product->getName()}>" src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage()}>" width="180" />
                            </div>
                            <{/if}>
                            <{*else}>
                            <{if $product->getImage2() ne '' }>
                            <div style="float:left"> <img  alt="<{$product->getName()}>" src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage2()}>" width="180" />
                            </div>
                            <{/if}>
                            <{if $product->getImage() ne '' }>
                            <div style="float:left; padding-left:20px;"> <img  alt="<{$product->getName()}>" src="http://www.nintendo.com.au/products/product/<{$product->getID()}>/<{$product->getImage()}>" width="180" />
                            </div>
                            <{/if}>
                        <{/if*}>
                    <{/if}>
					
					<{*<h1><{$product->getCustomChar6()}></h1>*}>
					
					<{if $product->getCustomChar6() eq '3ds'}>
					<p><strong>The use of 3D mode on Nintendo 3DS is recommended for 7yrs +</strong></p>
					<div id="threeds-disclaimer">
					<p><strong><em>You can only appreciate the 3D effect of Nintendo 3DS on the system itself. All screenshots and game footage on this site are captured in 2D mode. </em></strong></p>
					</div>
					<p><strong>For more information about the 3D features of Nintendo 3DS, please visit the official website at <a href="http://www.nintendo3ds.com.au/">nintendo3ds.com.au</a></strong></p>
					<{/if}>
					
           		 <{/if}>
            </div>
            
             <{* ***********END MAIN GAME DESCRIPTION*********** *}>
             <{if is_array($screenshots) and $screenshots|@count gt 0}>
           	 <{* ***********START IMAGES AREA*********** *}>
            <{*adgallery script*}>

            <div id="images-video" class="maincolumn_content dynamic_content">
            	<{*<div class="game_graphicsholder">
		  <object id="game_graphics_flash" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="660" height="515" align="middle" type="application/x-shockwave-flash" data="http://<{$smarty.session.centre_host}>/template_images/game.swf">
					<param name="movie" value="http://<{$smarty.session.centre_host}>/template_images/game.swf" />
					<param name="base"  value="http://<{$smarty.session.centre_host}>/index.php" />
					<param name="quality" value="high" />
					<param name="scale" value="noscale" />
					<param name="menu" value="false" />
					<param name="wmode" value="transparent" />
					<param name="flashvars" value="baseurl=http://<{$smarty.session.centre_host}>/index.php?&id=<{$prod_id}>&loggedin=true"/>
				</object>
		 		 </div>*}>
				<!--test area - Q--> 
				<div id="gallery" class="ad-gallery">
					<div class="ad-image-container">
						<div class="ad-image-wrapper">
						</div>
					</div>
				<div class="ad-nav">
					<div class="ad-thumbs">
						<ul class="ad-thumb-list">
							<{section name=count loop=$screenshots}>
							<li>
								<a href="http://<{$smarty.session.centre_host}>/products/screenshot/<{$screenshots[count]->getID()}>/<{$screenshots[count]->getImage()}>">
								<img src="http://<{$smarty.session.centre_host}>/products/screenshot/<{$screenshots[count]->getID()}>/s_<{$screenshots[count]->getImage()}>" id="<{$screenshots[count]->getID()}>" class="<{$screenshots[count]->getImage()}>" alt="<{$screenshots[count]->getName()}>">
								</a>
							</li>
							<{/section}>
						</ul>
					</div>
				</div>
				</div>
							
							
			</div>
            
             <{* ***********END IMAGES AREA*********** *}>
             <{/if}>
             <{if $product_videos}>
      
           	 <{* ***********START VIDEO AREA*********** *}>
             
             <{if $smarty.request.vidindex eq ""}>
             	<{assign var=vidindex value="0"}>
             <{else}>
             	<{assign var=vidindex value=$smarty.request.vidindex}>
             <{/if}>
             
            <script type="text/javascript" src="templates/jquery.playlist.js"></script>
                      
             <div id="video" class="maincolumn_content dynamic_content">

                <{assign var=vidUrl value="index.php?action=catalogue&playlist=true&prod_id="}>
                <{* $vidUrl *}>
                <p id='preview' class="test-video">The player will show in this paragraph</p>
				<script type='text/javascript' src='templates/swfobject.js'></script>
                <script type='text/javascript'>
				    var s1 = new SWFObject('../flash/jwplayer/player-licensed.swf','player','640','393','9');
                    s1.addParam('allowfullscreen','true');					
                    s1.addParam('allowscriptaccess','always');
					s1.addParam('bgcolor','#e5e5e5');
					s1.addParam('image','http://<{$smarty.session.centre_host}>/web_images/<{$videos[0]->resArr.video_image}>');
					s1.addVariable('image','http://<{$smarty.session.centre_host}>/web_images/<{$videos[0]->resArr.video_image}>');
                    //<{*s1.addParam('flashvars','file=<{$vidUrl|urlencode}><{$smarty.request.prod_id}>&skin=../flash/jwplayer/stormtrooper.zip&image=http://<{$smarty.session.centre_host}>/web_images/<{$videos[0]->resArr.video_image}>&logo.file=../flash/jwplayer/nintendo_logo1.png&item=<{$vidindex}>');*}>
					
					/*<{ if $videos[0]->resArr.video_url != "" }>*/
					//CONDITIONALLY DISPLAY THE FACEBOOK + TWITTER LINKS
					s1.addParam('flashvars','file=<{$vidUrl|urlencode}><{$smarty.request.prod_id}>&skin=../flash/jwplayer/stormtrooper.zip&image=http://<{$smarty.session.centre_host}>/web_images/<{$videos[0]->resArr.video_image}>&logo.file=../flash/jwplayer/nintendo_logo1.png&item=<{$vidindex}>&plugins=fbit-1,tweetit-1&dock=true&link=<{$videos[0]->resArr.video_url}>&fbit.link=<{$videos[0]->resArr.video_url}>');
					/*<{else}>*/
					//DON'T DISPLAY THE FACEBOOK + TWITTER LINKS
					s1.addParam('flashvars','file=<{$vidUrl|urlencode}><{$smarty.request.prod_id}>&skin=../flash/jwplayer/stormtrooper.zip&image=http://<{$smarty.session.centre_host}>/web_images/<{$videos[0]->resArr.video_image}>&logo.file=../flash/jwplayer/nintendo_logo1.png&item=<{$vidindex}>');
					/*<{/if}>*/

					//<{*s1.addParam('flashvars','file=../../products/video/8/8_1.flv&skin=../flash/jwplayer/stormtrooper.zip');*}>
                    
					s1.write('preview');
                </script>

            	</div>
                
             <{* ***********END VIDEO AREA************* *}>
             <{/if}>
             <{* ***********START HINTS AREA*********** *}>
              <{* - removed by SS - 2/6
           <{if $product->getHints() ne ""}>
            <div id="hints_content" class="maincolumn_content dynamic_content">
              <{$product->getHints()}>
              <div class="spacer"></div>
            </div>
          <{/if}>
              *}>
          <{* ***********END HINTS AREA*********** *}>
          
          </div>
        <{* ***********END NEW GAME PAGE*********** *}>
        <div id="overview_content" class="maincolumn_content">
          <div class="game_column_left">
            <div class="spacer"></div>
            <{*if $product->getRatingName() neq 'No Rating.'}>
            <!-- RATING -->
                <div class="ratings_holder_gamepage">
                    <div class="game_rating">
                        <div class="column_wrapper">
                        <div class="rating_image">
                        
                        <img alt="Rating - <{$product->getRatingName()}>" src="template_images/rating_<{$product->getRatingId()}>.gif"/>
                        
                        </div>
                        <div class="text_holder">
                        <p class="rating_title"> <{$product->getRatingName()}></p>
                        <div class="rating_description">
                        <p> <{$product->getRatingDescription()}></p>
                        <p> <{$product->getDimensions()}></p>
                        
                        </div>
                        </div>
                        <div class="spacer"></div>
                        </div>
                    </div>
                </div>
            <{/if*}>
             </div>
			   <div class="spacer"></div>
     <{ include file="productcatalogue/related_products.html"}>
          </div>
          <div class="spacer"></div>
        </div>
      </div>
    
    </div>
    <div class="game_page_footer"></div>

    <{elseif is_object($prodcat)}>

	<{*if $smarty.get.brand_id eq "" and $smarty.get.searchstring eq "" and !is_array($products)*}>

	<{*include file="productcatalogue/productcatalogue_categories.html"*}>

	<{*else*}>

		<{ include file="productcatalogue/productcatalogue_products.html"}>

	<{*/if*}>

        <{/if}>
