<div class="largeBoxWrap">
	<p class="largebox_header"/>
	<div class="largebox_content">
	<{foreach from=$res_presskits item=item name="foo"}>
	<{if $smarty.foreach.foo.first}>
		<h2>Presskits</h2>
		<br/>
		<ul>
	<{/if}>
	
	<li><a href="index.php?action=presskits&form_name=view_presskit&pkid=<{$item->getID()}>"> <{$item->getName()}> </a></li>
	<{foreachelse}>
	No Items
	<{/foreach}>
	</ul>
	
	<h2>Images</h2>
	<br/>
	<ul>
	<{foreach from=$res_images item=item name="foo"}>
	<li><a href="index.php?action=presskits&form_name=view_presskit&pkid=<{$item->getParentID()}>"> <{$item->getFilename()}> </a>(<{$item->getItemType()}>)</li>  					
	<{foreachelse}>
	No Items
	<{/foreach}>
	</ul>
	
	
	<{foreach from=$res_documents item=item name="foo"}>
		<{if $smarty.foreach.foo.first}>
		<b>Documents</b>
		<ul>
		<{/if}>
		<li>    <{$item->getFilename()}> (<{$item->getCaption()}>)</li>
	<{/foreach}>
	</ul>
	
	
	
	<{foreach from=$res_videos item=item}>
	<{$item->getFilename()}> (<{$item->getCaption()}>)
	<{/foreach}>
	
	</div>	
	<p class="minifooter"/>
</div>