
    <table width="100%" bgcolor="#EEEEEE">
      <tr bgcolor="#DDDDDD">       
		<th align="left" width="65%"><{$imggal_image_caption}> 
		</th>
		<th align="right" nowrap bgcolor="#DDDDDD"><{$imggal_image_approved_comments}> Comments</th>
		<th align="right" nowrap bgcolor="#DDDDDD"></th>
      </tr>
      <tr>
		<td colspan="4" align="left"><{$imggal_album_desc}><br>
		  <div align="right"><b>by <{$imggal_album_creator_id}> <{$imggal_album_create_time|date_format:"%Y/%m/%d %H:%M"}></b></div>
		</td>     
      </tr>
    </table>
    <br>
    <{include file="`$modules_path`/imagegallery/templates/pager.html"}>

    <{if $image_comments}>
    <table width="100%" cellpadding="0" cellspacing="0">
      <{section name=image_comments loop=$image_comments}>
      <tr align="center" bgcolor="#DDDDDD">
		<td colspan="2" align="left">
          <a name="image_<{$image_comments[image_comments]._}>"></a>
		</td>
		<td align="right" bgcolor="#DDDDDD">
          <{if $image_comments[image_comments].access_level ge M_UPDATE}>
          <{*<a href="index.php?action=imagegallery&form_name=edit_comment&form_action=rm_comment&aid=<{$aid}>&iid=<{$image_comments[image_comments].imggal_comment_iid}>&cid=<{$image_comments[image_comments].imggal_comment_id}>" 
			 onClick="return confirm('Are you sure to delete comment?');">
			Delete
		  </a>
		  <a href="index.php?action=imagegallery&form_name=edit_comment&form_action=edit&aid=<{$aid}>&iid=<{$image_comments[image_comments].imggal_comment_iid}>&cid=<{$image_comments[image_comments].imggal_comment_id}>">
			Edit
		  </a>*}>
          <a href="index.php?action=imagegallery&form_name=waiting_comments&form_action=approve_comment&aid=<{$aid}>&iid=<{$image_comments[image_comments].imggal_comment_iid}>&cid=<{$image_comments[image_comments].imggal_comment_id}>">
			Approve
		  </a>       
		<{/if}>
        </td>
      </tr>
      <tr>
		<td colspan="4" bgcolor="#EEEEEE"><{$image_comments[image_comments].imggal_comment_text}></td>
      </tr>
      <tr>
		<td colspan="4" bgcolor="#EEEEEE" align="right">by <{$image_comments[image_comments].imggal_comment_author_id}>
		  at <{$image_comments[image_comments].imggal_comment_added_time|date_format:"%Y/%m/%d %H:%M"}>
		</td>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      <{/section}>
    </table>
    <{include file="`$modules_path`/imagegallery/templates/pager.html"}>
	<{else}>
	No waiting comments for this image
    <{/if}>
