<{extends file="layout--site.html"}>
<{block name=section append}>home<{/block}>
<{block name="body"}>

<section>
    <h1>
        <{$page->getName()}>
    </h1>
    <div class="rte">
        <{$page->getContent()}>
    </div>
</section>

<{/block}>
