@import "../../theme";

.root {
  padding-bottom: $grid-row-height;
  display: block;
  &:not(.baseline) {
    @include standardTextResponsive($baseline: false);
  }
  &.baseline {
    @include standardTextResponsive($baseline: true);
  }

  .root {
    position: relative;
    outline: 2px solid red;
    &::after {
      content: 'ERROR: Multiple <Text> components nested';
      background: red;
      font-weight: $dna-bold;
      color: white;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 $grid-gutter-width;
    }
  }
}

.small {
  &:not(.baseline) { @include smallTextResponsive($baseline: false); }
  &.baseline { @include smallTextResponsive($baseline: true); }
}

.substandard {
  &:not(.baseline) { @include substandardTextResponsive($baseline: false); }
  &.baseline { @include substandardTextResponsive($baseline: true); }
}

.superstandard {
  &:not(.baseline) { @include superstandardTextResponsive($baseline: false); }
  &.baseline { @include superstandardTextResponsive($baseline: true); }
}

.subheading {
  &:not(.baseline) { @include subheadingTextResponsive($baseline: false); }
  &.baseline { @include subheadingTextResponsive($baseline: true); }
}

.headline {
  &:not(.baseline) { @include headlineTextResponsive($baseline: false); }
  &.baseline { @include headlineTextResponsive($baseline: true); }
}

.heading {
  &:not(.baseline) { @include headingTextResponsive($baseline: false); }
  &.baseline { @include headingTextResponsive($baseline: true); }
}

.hero {
  &:not(.baseline) { @include heroTextResponsive($baseline: false); }
  &.baseline { @include heroTextResponsive($baseline: true); }
}

.light {
  font-weight: $dna-light;
}

.raw {
  padding-bottom: 0;
}
