.content {
  .content__inner {

    @include op-container();
    @include clearfix;
    @include media('<lap') {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.content--header {
    background-color: $color-header;
  }
  &.content--nav {
    background-color: white;
  }
  &.content--footer {
    background-color: $color-footer;
  }
  &.content--main {
    width: 100%;
    @include media('>=lap') {
      float: left;
      width: 65.78%;
      margin-right: 2.65%;
    }
  }
  &.content--aside {
    width: 100%;
    padding-top: 24px;
    @include media('>=lap') {
      width: 31.57%;
      float: left;
      padding-top: 10px;
    }
    .content__card {
      @include media('<lap') {
        order: 1;
      }
      @include media('>=lap') {
        padding: 32px 24px;
      }
    }
    .fixed__wrapper {
      @include media('<lap') {
        display: flex;
        flex-direction: column;
      }
      .comodo__seal {
        @include media('<lap') {
          order: 2;
          text-align: center;
          img {
            max-height: 36px;
            margin-top: 24px;
          }
        }
      }
    }
  }
}

.content--centered {
  @include media('>=lap') {
    width: 65.78%;
    margin: 0 auto;
  }
}
.content__title {
  font-size: 24px;
  //font-weight: 300;
  font-family: $font-family-primary-light;
  line-height: 28px;
  margin: 40px 0 16px;
  @include media('>=lap') {
    margin: 40px 32px 16px 32px;
  }
}
.cart {
  .content__title {
    @include media('<lap') {
      display: none;
    }
  }
}
.content__cart__info {
  width: 100%;
  margin-top: 8px;
  @include media('>=lap') {
    @include op-container();
    margin-top: 25px;
  }
  .cart__info {
    font-size: 12px;
    line-height: 14px;
    @include media('>=lap') {
      width: 65.78%;
      font-size: 16px;
      line-height: 19px;
    }
    background-color: $color-warning;
    padding: 1em;
    color: white;

    font-weight: 500;
    text-align: center;

  }
}

.fancy__list {
  li {
    padding-left: 36px;
    @include position();
    &:before {
      @include position(absolute, 2px, null, null, 0);
      font-size: 20px;
      font-family: 'fontawesome';
      content: '\f058';
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  p {
    line-height: 22px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &.error {
    li:before {
      color: $color-warning;
      content: '\f00d';
    }
  }
  .cta {
    display: inline-block;
  }
}
.content__card {
  background-color: #FFFFFF;
  @include media('>=lap') {
    box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 32px;
  }
  @include position();
  &.content__card--no-pad {
    padding: 0;
  }
  .input__info {
    font-size: 10px;
    line-height: 11px;
    margin: 4px 0 0 0;
    padding: 0;
    text-align: left;
    .input__info__link {
      text-decoration: underline;
    }
  }
  .quantity__error {
    transition: all .3s cubic-bezier(.25,.46,.45,.94);
    max-height: 0;
    overflow: hidden;
    &.active {
      max-height: 50px;
    }
    .input__info {
      margin: 0 0 8px 0;
    }
  }
}
.card__heading {
  @include position();
  .title__link {
    @include position(absolute, 0, 0);
    @include media('>=lap') {
      right: 32px;
    }
    line-height: 28px;
    color: $color-anchor-text;
  }
  .comodo__seal {
    position: absolute;
    top: -3px;
    right: 32px;
    height: auto;
    @include media('<lap') {
      right: 0;
    }
    img {
      max-height: 35px;
    }
  }
}
#empty-cart-message {
  display: none;
  &.active {
    display: block;
  }
  .cta {
    display: inline-block;
  }
}
.content__cart__item {
  @include clearfix;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  .content__image {
    width: 47.67%;
    float: left;
    margin-right: 4.66%;
    @include media('>=desk') {
      width: 21.86%;
    }
    .image {
      padding-top: 100%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .content__product {
    width: 47.67%;
    float: left;
    @include media('>=desk') {
      width: 73.48%;
    }
    @include media('<desk') {
      display: flex;
      flex-direction: column;
    }
    .product__actions {
      @include media('<desk') {
        order: 2;
        @include clearfix;
      }
      @include media('>=desk') {
        width: 15.87%;
        margin-right: 6.34%;
        float: left;
      }
      .quantity__fields {
        @include media('<desk') {
          width: 50%;
          float: left;
        }
        @include media('>=desk') {
          margin-bottom: 16px;
        }
        text-align: center;
        span {
          padding: 8px 0;
          display: block;
          cursor: pointer;
          font-weight: normal;
          font-size: 14px;
        }
      }
      .product__quantity {
        width: 100%;
        line-height: 28px;
        height: 28px;
        margin: 0 0;
        font-size: 16px;
        font-family: $font-family-secondary;
        background-color: white;
        border: 1px solid black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0 10px;
        background: url('/public/images/checkout/arrow.jpg') no-repeat center right 10px;

      }
      .product__quantity__text {
        width: 100%;
        line-height: 28px;
        height: 28px;
        margin: 0 0;
        font-size: 16px;
        font-family: $font-family-secondary;
        background-color: white;
        border: 1px solid black;
        padding: 0 10px;
        &.error {
          border-color: $color-warning;
        }
      }
      .remove__product  {
        @include media('<desk') {
          width: 50%;
          float: left;
          height: 28px;
        }
        font-family: $font-family-secondary;
        font-size: 12px;
        line-height: 15px;
        color: $color-cart-prod-options;
        i, span {
          margin: 0 4px;
        }
        i {
          @include media('<desk') {
            display: block;
          }
        }
      }
    }
    .product__description {
      @include media('>=desk') {
        width: 51.78%;
        float: left;
        margin-right: 6.34%;
      }
      @include media('<desk') {
        order: 1;
      }
      .product__title {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 8px;
        @include media('>=desk') {
          font-size: 16px;
          line-height: 22px;
        }
      }
      .product__options {
        margin-bottom: 8px;
        font-family: $font-family-secondary;
        font-size: 12px;
        line-height: 15px;
        color: black;
        span {
          color: $color-cart-prod-options;
        }
      }

      .product__price {
        margin-bottom: 8px;
        font-size: 10px;
        font-weight: 500;
        line-height: 11px;
        color: $color-cart-prod-options;
        @include media('>=desk') {
          font-size: 16px;
          line-height: 22px;
          //font-weight: 300;
          font-family: $font-family-primary-light;
        }
        span {
          color: black;
          //font-weight: 600;
          font-family: $font-family-primary-bold;
        }
      }
    }
    .product__total {
      @include media('<desk') {
        order: 3;
      }
      @include media('>=desk') {
        width: 19.66%;
        float: left;
      }
      font-size: 16px;
      text-align: right;
      line-height: 22px;
      .total--desktop {
        @include media('<desk') {
          display: none;
        }
      }
    }
  }
  &.content__order__item {
    .content__image {
      margin-right: 4.66%;
      width: 30%;
      @include media('>=lap') {
        width: 11.66%;
      }
    }
    .content__product {
      width: 65.34%;
      @include media('>=lap') {
        width: 83.68%;
        display: block;
      }
      .product__description {
        @include media('>=lap') {
          width: 77.01%;
          margin-right: 5.57%;
          float: left;
        }
      }
      .product__total{
        width: 17.42%;
        float: left;
      }
    }
    .product__quantity__price {
      span {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        display: inline-block;
        &:nth-of-type(1) {
          margin-right: 16px;
        }
      }
    }
  }
}
#voucher-errors {
  &.errors {
    margin: 0;
  }
  &.success {
    color: $color-positive;
  }
}
.product__status {
  margin-bottom: 8px;
  //font-weight: bold;
  font-family: $font-family-primary-bold;
  font-size: 10px;
  line-height: 11px;
  text-align: left;
  text-transform: uppercase;
  color: $color-cta;
  &.product__status--warning {
    color: $color-warning;
  }
  &.product__status--info {
    color: $color-positive;
  }
  &.product__status--desktop {
    @include media('<desk') {
      display: none;
    }
  }
  &.product__status--mobile {
    padding-top: 8px;
    @include media('>=desk') {
      display: none;
    }
  }

  @include media('>=lap') {
    font-size: 12px;
    line-height: 14px;
  }
}


.show__desktop {
  // do not edit this CSS - remove this class from HTML if required
  @include media('<lap') {
    display: none;
  }
}
.show__mobile {
  // do not edit this CSS - remove this class from HTML if required
  @include media('>=lap') {
    display: none;
  }
}

.comodo__seal {
  text-align: right;
  height: 74px;
  img {
    max-height: 60px;
    vertical-align: top;
  }
}

.sidebar__links {
  text-align: right;
  margin-top: 24px;
  @include media('<lap') {
    display: none;
  }
  .help__cta {
    a {
      color: white;
      background-color: $color-help-link;
      border-radius: 14px;
      padding: 8px 20px;
      display: inline-block;
    }
  }
}

.content__register__form {
  h2 {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    //font-weight: bold;
    word-wrap: break-word;
    font-family: $font-family-primary-bold;
    margin-bottom: 8px;
    @include media('>=lap') {
      font-size: 24px;
      //font-weight: 500;
      font-family: $font-family-primary;
      line-height: 28px;
    }
  }
  p {

    text-align: center;
    line-height: 17px;
    font-size: 14px;
    font-family: $font-family-secondary;
    margin-bottom: 16px;
    @include media('>=lap') {
      line-height: 19px;
      font-size: 16px;
    }
  }

}

.cart__subtotal {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin: 8px 0;
  @include media('>=lap') {
    display: none;
  }
}
.content__subtotal {
  padding: 32px;
  @include media('<lap') {
    display: none;
  }
  .product__description {
    @include media('<desk') {
      display: none;
    }
  }
  .product__actions {
    text-align: center;
    line-height: 28px;
    //font-weight: 300;
    font-family: $font-family-primary-light;
    @include media('>=lap') {
      width: 33%;
      float: left;
    }
  }
  .content__image {
    @include media('>=lap') {
      width: 21.86%;
    }
    h2 {
      font-size: 24px;
      line-height: 28px;
    }
  }
  .content__product {
    @include media('>=lap') {
      width: 73.48%;
      display: block;
    }
  }
  .product__total {
    @include media('>=lap') {
      width: 67%;
      float: left;
    }
    p {
      line-height: 28px;
      font-size: 24px;
      //font-weight: 300;
      font-family: $font-family-primary-light;
    }
  }

}

.sticky--aside {
  .content--aside {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding-top: 10px;
  }
}
.sticky--aside--bottom {
  .content--aside {
    @include position(absolute, null, 0, 0, null);
  }
}

.content__radio__inputs {
  .radio__copy {
    padding: 24px 0;
    @include media('>=lap') {
      padding: 32px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid black;
    }
    .content__form {
    }
    .comodo__seal {
      @include position(absolute, 32px, 32px);
      img {
        max-height: 35px;
      }
    }
  }
}

.content__order__status {
  .status__items {
    border-bottom: 0.5px solid $color-border;
    margin-bottom: 16px;
    @include clearfix;
  }
  .status__total {
    @include clearfix;
  }
  .item__copy {
    float: left;
    width: 50%;
    padding-bottom: 16px;
    &:nth-of-type(2n+1) {
      padding-right: 16px;
    }
    &:nth-of-type(2n) {
      padding-left: 16px;
      text-align: right;
    }
    &.total__copy {
      font-size: 24px;
      line-height: 28px;
      padding-bottom: 0;
      word-wrap: normal;
      word-break: keep-all;
    }
  }

}

.voucher-item {
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0!important;
  transition: all .2s cubic-bezier(.25,.46,.45,.94);
  &.active {
    max-height: 200px;
  }
  .voucher__wrap {
    padding-bottom: 16px;
  }
}
