.header {

  .content__header {
    @include clearfix;
    height: 64px;
    @include media('>=lap') {
      height: 80px;
    }
    .header__item {
      width: 33%;
      display: block;
      float: left;
      height: 100%;
      @include position();
      &:nth-of-type(2) {
        a, .a {
          text-align: center;
          img {
            vertical-align: middle;
            max-height: 50px;
            @include media('>=lap') {
              max-height: 60px;
            }
          }
        }
      }
      &:nth-of-type(3) {
        text-align: right;
      }
      a, .a {
        color: white;
        display: block;
        @include position(relative, 50%);
        transform: translateY(-50%);
        font-size: 16px;
        //font-weight: bold;
        font-family: $font-family-primary-bold;
        line-height: 19px;
        max-height: 100%;
        i {
          margin-right: 8px;
          font-size: 16px;
          font-weight: normal;
          line-height: 16px;
        }
      }
    }
  }
  .content__checkout__steps {
    @include clearfix;
    height: 60px;
    @include media('>=lap') {
      @include op-container();
    }
    .steps__item {
      width: 33.333%;
      display: block;
      float: left;
      border-bottom: 2px solid transparent;
      text-align: center;
      &:last-child {
        display: none;
      }
      @include media('>=lap') {
        width: 25%;
        &:last-child {
          display: block;
        }
      }
      a {
        font-size: 12px;
        color: $color-nav-link;
        display: block;
        text-transform: uppercase;
        line-height: 60px;
        @include media('>=lap') {
          font-size: 16px;
        }
        i {
          margin-right: 16px;
        }
      }
      &:hover {
        border-bottom-color: $color-cta;
      }
      &.active {
        border-bottom-color: $color-cta;
        a {
          color: #000000;
          //font-weight: bold;
          font-family: $font-family-primary-bold;
          i {
            font-weight: normal;
          }
        }
      }
      &.done {
        a {
          color: $color-cta;
          i:before {
            font-family: 'fontawesome';
            content: '\f058';
          }
        }
      }
      &.disabled {
        a {
          cursor: default;
        }
        &:hover {
          border-bottom-color: transparent;
        }
      }

    }
  }
}

header.header {
  @include media('<lap') {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
  }
  .content--header {
    @include media('<lap') {
      overflow: hidden;
      max-height: 64px;
    }
    transition: all .6s cubic-bezier(.25,.46,.45,.94);
  }
  .content--nav {
    transition: all .6s cubic-bezier(.25,.46,.45,.94);
  }
  .content__checkout__steps {
    @include media('<lap') {
      height: 46px;
      box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    .steps__item {
      a {
        @include media('<lap') {
          line-height: 44px;
        }
      }
    }
  }
}
.navigation--sticky {
  header.header {
    .content--header {
      max-height: 0;
    }
  }
}