.validation-error {
  padding: 32px 0 0 0;
  font-size: 14px;
  color: red;

  @media(min-width: 768px) {
    padding: 32px 32px 0 32px;
  }
}

#shipping-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all .3s cubic-bezier(.25,.46,.45,.94);
  &.active {
    max-height: 1000px;
  }
}
