h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
  font-family: $font-family-primary-bold;
}
body {
  font-family: $font-family-primary;
  @include media('>=lap') {
    background-color: $color-body-bg;
  }
  font-size: 16px;
  line-height: 19px;
  &.show-modal {
    overflow-y: hidden;
    .section {
      &.section--modal {
        display: block;
      }
    }
  }
  &.order-process {
    &.complete {
      .content__cart__info .cart__info {
        @include media('>=lap') {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
main {
  padding-bottom: 60px;
  @include media('>=desk') {
    min-height: calc(100vh - 250px);
  }
  @include media('<lap') {
    padding-top: 110px;
  }
}
.cta {
  font-size: 18px;
  line-height: 53px;
  height: 53px;
  border: 1px solid $color-cta;
  border-radius: $border-radius-btn;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 0 18px;
  display: block;
  margin-bottom: 1em;
  text-align: center;
  color: white;
  background-color: $color-cta;
  transition:background-color 0.2s, $transition;
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  &.loading {
    padding-right: 40px;
    &:disabled {
      opacity: 1;
      cursor: default;
    }
    &:after {
      content: ' \2026';
      font-size: 30px;
      line-height: 45px;
      text-align: left;
      width: 0;
      overflow-x: hidden;
      display: inline-block;
      position: absolute;
      animation-duration: 0.8s;
      animation-name: loading;
      animation-iteration-count: infinite;
    }
  }
  &:active {
    transform: scale(0.95);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.cta--voucher {
    color: white;
    background-color: $color-cta;
    //font-family: $font-family-primary-light;
    line-height: 51px;
    height: 51px;
    width: 130px;
    @include media('>=lap') {
      float: left;
    }
  }
  &.small {
    height: 39px;
    line-height: 39px;
  }
}

.no-bg {
  background: none!important;
}
.dummy {
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  display: block;
}
select, input, textarea {
  font-family: inherit;
}
.errors {
  color: $color-warning;
  a {
    color: $color-warning;
  }
  margin-bottom: 1em;
}
.rte {
  @include op-rte();
}

.section {
  a {
    text-decoration: none!important;
  }
  .section__inner {}

  &.section--modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.5);
    .section__content {
      @include position(absolute, 50%, null, null, 50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
  .cart__info__message {
      padding: 32px;
      background-color: white;
      position: relative;
      max-width: 90%;
      margin: 0 auto;
      overflow: hidden;
      word-wrap: break-word;
      @include media('>=lap') {
        max-width: 600px;
      }
    .cta {
      display: inline-block;
      width: 130px;
    }
    p {
      line-height: 24px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .cta__wrapper {
      margin-top: 32px;
      text-align: center;
    }
  }
}

#modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  color: black;
}

.hidden {
  display: none;
}

#header-util .sign-out {
  a {
    color: white;
  }
}

@keyframes loading {
  to { width: 20px; }
}

@keyframes dotBounce {
  33% {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }

  66% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.loader {
  .dot {
    background-color: $color-cta;
    width: 14px;
    height: 14px;
    margin: 0 2px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    &:first-child {
      animation: dotBounce .6s -.14s infinite ease-in-out;
    }
    &:nth-child(2) {
      animation: dotBounce .6s -.07s infinite ease-in-out;
    }
    &:nth-child(3) {
      animation: dotBounce .6s 0s infinite ease-in-out;
    }
  }
}