@mixin outer-container($local-max-width: 100%) {
  @include clearfix;
  max-width: $local-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}
@mixin op-container() {
    @include position(relative);
    @include outer-container();
    width:map-get($breakpoints-max, palm-max);

    @include media('>=lap', '<desk') {
        @include outer-container(map-get($breakpoints-max, lap-max));
        width:map-get($breakpoints, lap);
    }

    @include media('>=desk', '<wall') {
        @include outer-container(map-get($breakpoints-max, desk-max));
        width:map-get($breakpoints, desk);
    }

    @include media('>=wall') {
        @include outer-container(map-get($breakpoints-max, wall-max));
        width:map-get($breakpoints, wall);
    }
}
