/**
 * op-icon
 *
 * Implements a webfont glyph (typically Fontello).  Needs to be used within
 * a pseudo element (e.g. &:before, &:after).  Accepts a required, named
 * icon, an optional size, and an optional color.  Available icons can be
 * modified by adding directly to the $icons map stack.
 */
@mixin op-icon($icon, $size: 1em, $color: $color-text) {
  display: inline-block;
  content: $icon;
  font-family: 'glyphs';
  font-size: $size;
  font-variant: normal;
  text-align: center;
  text-transform: none;
	font-style: normal;
	font-weight: normal;
  color: $color;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
