/**
 * op-rte
 *
 * Implements styling for (R)ich (T)ext (E)ditors.  Should be used to format
 * the output of a CMS preformatted field.
 *
 */
@mixin op-rte($variant: default) {
    h1 {

    }

    h2 {

    }

    h3 {

    }

    h4 {

    }

    h5 {

    }

    p {
        margin:null null 1em null;
        &:last-child {
            margin: null null 0 null;
        }
    }
    img {
      //@include op-max-size(100% null);
        max-width: 100%;
    }

    iframe {
      //@include op-max-size(100% null);
        max-width: 100%;
    }
    a {
      word-wrap: break-word;
    }
    ul {
        margin-left: 1em;
        padding-left: 1em;
        li {
            list-style: disc;
        }
    }
}