/**
 *
 * op-vertical-align
 *
 * Vertically centers an element, parent must be set to relative
 *
 */
@mixin op-vertical-align($position: absolute) {
	position: $position;
	top: 50%;
	//Bourbon Dependant
	transform:translateY(-50%);
}