<{extends file="layout--order.html"}>
<{block name=section}>cart<{/block}>
<{block name="body"}>

  <{$productsInCart = $cart3->getProducts()}>
  <div class="content" id="outer-content" data-coupon="<{$cart3->getVoucherCode()}>">

    <div class="content__inner">

      <section class="content content--main">

        <h2 class="content__title">Your Cart</h2>

        <div class="cart__subtotal">
          <span class="coredna-count" id="cart-count-mobile"><{$cart3->countItems()}></span>
          Items
          - Subtotal $<span id="subtotal-mobile"><{$cart3->getTotal()}></span>
        </div>

        <div class="content__card" id="cart-items-wrap">

          <{if $cart3->getProducts()|is_array and $cart3->getProducts()|count gt 0 }>

            <{foreach key=k name=main from=$cart3->getProducts() item=currprod}>

              <{$assets = $currprod.object->getAssets()}>
              <form class="content__cart__item" data-variantid="<{$currprod.variant_id}>" data-productid="<{$currprod.id}>">

                <{$optionID = ''}>
                <{if is_array($currprod.options)}>
                  <{foreach name=options from=$currprod.options key=curkey item=curoption}>
                    <{if is_object($curoption)}>
                      <{if $optionID}>
                        <{$optionID = $optionID|cat:"|`$curoption->getID()`"}>
                      <{else}>
                        <{$optionID = $optionID|cat:"`$curoption->getID()`"}>
                      <{/if}>
                    <{/if}>
                  <{/foreach}>
                <{/if}>

                <{show_block
                  module='prodcatalogue'
                  block='show_variant_filters_v2'
                  product_id=$currprod.id
                  options=$optionID
                  template_name="_blank"
                }>

                <{if $variant and !empty($variant.assets)}>

                  <{foreach $variant.assets as $image}>
                    <{$variantImage = $image.url}>
                    <{break}>
                  <{/foreach}>
                  <div class="content__image">
                    <div class="image" style="background-image: url('<{$variantImage}>')"></div>
                  </div>
                <{else}>
                  <div class="content__image">
                    <div class="image" style="background-image: url('<{if is_object($assets.image)}><{$assets.image->getUrl()}><{/if}>')"></div>
                  </div>
                <{/if}>

                <div class="content__product">
                  <div class="product__actions">

                    <div class="quantity__error" id="quantity-error">
                      <p class="input__info errors">Only numbers are allowed.</p>
                    </div>

                    <div class="quantity__fields">
                      <{$maxQuantity = 5}>
                      <{if $variant and $variant.quantity lt 5}>
                        <{$maxQuantity = $variant.quantity}>
                      <{elseif !$variant and $currprod.object->getQty() lt 5}>
                        <{$maxQuantity = $currprod.object->getQty()}>
                      <{/if}>

                      <{if $currprod.quantity lte 5}>
                        <select name="cart__quantity__<{$currprod.id}>" data-quantity="<{$currprod.quantity}>" class="product__quantity quantity" id="cart__quantity--<{$currprod.id}>">
                          <{for $ii = 1 to $maxQuantity}>
                            <option value="<{$ii}>" <{if $currprod.quantity eq $ii}>selected<{/if}> >
                              <{$ii}>
                            </option>
                          <{/for}>
                          <{if ($variant and $variant.quantity gt 5) or (!$variant and $currprod.object->getQty() gt 5)}>
                            <option value="more" class="other-quantity">More</option>
                          <{/if}>
                        </select>
                      <{else}>
                        <input class="product__quantity__text quantity" data-quantity="<{$currprod.quantity}>" pattern="[0-9]*" type="text" value="<{$currprod.quantity}>">
                      <{/if}>
                    </div>

                    <button class="remove__product product-remove">
                      <i class="fa fa-trash-o"></i>
                      <span>Remove</span>
                    </button>
                  </div>
                  <div class="product__description">
                    <h3 class="product__title"><{$currprod.name}></h3>

                    <{if is_array($currprod.options)}>
                      <p class="product__options">
                        <{foreach name=options from=$currprod.options key=curkey item=curoption}>
                          <{if is_object($curoption)}>
                            <{$curoption->getOptionlistObject()->getText()}>:
                            <span><{$curoption->getText()}></span>
                          <{/if}>
                        <{/foreach}>
                      </p>
                    <{/if}>

                    <p class="product__price">
                      <{if $variant and $variant.price}>
                        <{if $currprod.object->getSpecialPrice() gt 0}>
                          Was $<{$currprod.object->getPrice()|number_format:2}>
                          <span class="current__price" data-itemprice="<{$variant.price.value}>">
                            now $<{$variant.price.value|number_format:2}>
                          </span>
                        <{else}>
                          <span class="current__price" data-itemprice="<{$variant.price.value}>">
                            $<{$variant.price.value|number_format:2}>
                          </span>
                        <{/if}>

                      <{elseif $currprod.object->getSpecialPrice() gt 0}>
                        Was $<{$currprod.object->getPrice()|number_format:2}>
                        <span class="current__price" data-itemprice="<{$currprod.object->getSpecialPrice()}>">
                          now $<{$currprod.object->getSpecialPrice()|number_format:2}>
                        </span>
                      <{else}>
                        <span class="current__price" data-itemprice="<{$currprod.object->getPrice()}>">
                          $<{$currprod.object->getPrice()|number_format:2}>
                        </span>
                      <{/if}>
                    </p>
                    <{if $variant}>
                      <{if $variant.quantity lt 5}>
                        <p class="product__status product__status--warning product__status--desktop">Hurry only <{$variant.quantity}> remain</p>
                      <{else}>
                        <p class="product__status product__status--info product__status--desktop">IN STOCK</p>
                      <{/if}>
                    <{else}>
                      <{if $currprod.object->getQty() lt 5}>
                        <p class="product__status product__status--warning product__status--desktop">Hurry only <{$currprod.object->getQty()}> remain</p>
                      <{else}>
                        <p class="product__status product__status--info product__status--desktop">IN STOCK</p>
                      <{/if}>
                    <{/if}>
                  </div>
                  <div class="product__total">
                    <p class="total--desktop">$<{$currprod.final_price|number_format:2}></p>
                    <{if $variant}>
                      <{if $variant.quantity lt 5}>
                        <p class="product__status product__status--warning product__status--mobile">Hurry only <{$variant.quantity}> remain</p>
                      <{else}>
                        <p class="product__status product__status--info product__status--mobile">IN STOCK</p>
                      <{/if}>
                    <{else}>
                      <{if $currprod.object->getQty() lt 5}>
                        <p class="product__status product__status--warning product__status--mobile">Hurry only <{$currprod.object->getQty()}> remain</p>
                      <{else}>
                        <p class="product__status product__status--info product__status--mobile">IN STOCK</p>
                      <{/if}>
                    <{/if}>
                  </div>
                </div>

              </form>
            <{/foreach}>
          <{/if}>

          <div class="<{if is_array($cart3->getProducts()) and $cart3->getProducts()|@count eq 0}>active<{/if}>" id="empty-cart-message">
            <p>There are currently no items in your cart.</p>
            <br>
            <a href="/shop/" class="cta small">Continue Shopping</a>
          </div>

        </div>

        <div class="content__subtotal">
          <div class="content__cart__item">

            <div class="content__image">
              <h2>Subtotal</h2>
            </div>
            <div class="content__product">
              <div class="product__actions coredna-count">
                <{$cart3->countItems()}> Items
              </div>
              <div class="product__description">
                <div class="dummy"></div>
              </div>
              <div class="product__total">
                <p>$<{$cart3->getTotalWithoutDiscount()|number_format:2}></p>
              </div>
            </div>

          </div>
        </div>

      </section>

      <aside class="content content--aside">

        <div class="fixed__wrapper">

          <{if !$meta_data}>
            <{show_block module='centres' block='get_meta_data'
            templateName="_blank"}>
          <{/if}>
          <{$secureLogo = $meta_data['Cart3 Secure Logo']}>

          <div class="comodo__seal">
            <{if is_object($secureLogo) and $secureLogo->getValue()}>
              <img src="<{$smarty.session.centre_asset_host}>/web_images/metadata/<{$secureLogo->getValue()}>" alt="Secure Checkout">
            <{/if}>
          </div>

          <div class="content__card">

            <div class="content__register__form">
              <{if !$loggedIn}>
                <{if $userAction eq 'search'}>
                  <h2>Ready to checkout?</h2>
                  <p>Enter your email address below to proceed to delivery and payment.</p>
                <{elseif $userAction eq 'cartLogin'}>
                  <h2>Welcome back <{if $user->getFirstname()}><{$user->getFirstname()}><{/if}>!</h2>
                  <p>Enter your account password below to proceed to delivery and payment</p>
                <{elseif $userAction eq 'newUser'}>
                  <h2>Looks like you’re new here?</h2>
                  <p>Enter a password below to proceed to delivery and payment.</p>
                <{elseif $userAction eq 'guest'}>
                  <h2>Guest Checkout</h2>
                  <{if !$returningGuest}>
                    <p>Enter your email address below to proceed to delivery and payment.</p>
                  <{else}>
                    <p><{$email}></p>
                  <{/if}>
                <{/if}>
              <{else}>
                <h2>Logged in as <{$user->getFirstName()|default:$user->getEmail()}></h2>
              <{/if}>

              <form action="" data-form="continue-form" method="get" class="sidebar__form">

                <input type="hidden" name="action" value="prodcataloguecart">
                <input type="hidden" name="form_name" value="<{$userAction}>">
                <input type="hidden" name="email" value="<{$email}>">
                <input type="hidden" name="ret_page" value="/index.php?action=prodcatalogueorder&form_name=checkout_shipping">

                <{if !$loggedIn and !$returningGuest}>
                  <{if $userAction eq 'search' or $userAction eq 'guest'}>
                    <div class="form__item <{if $userError and !$badPassword}>form__item--error<{/if}>">
                      <label for="email">Email Address</label>
                      <input type="text" name="email" autocomplete="home email" id="email"
                              value="<{$email}>"
                              placeholder="Enter your email address to continue">

                      <{if $userError and !$badPassword}>
                        <p class="input__info"><{$userError}></p>
                      <{else}>
                        <p class="input__info"></p>
                      <{/if}>
                    </div>
                  <{/if}>

                  <{if $userAction eq 'newUser' or $userAction eq 'cartLogin'}>
                    <div class="form__item <{if $badPassword}>form__item--error
                                    <{elseif $userAction eq 'newUser' and !$badPassword and !$userError}>form__item--error<{/if}>">
                      <label for="password">Password</label>

                      <div class="input__wrapper">
                        <input type="password" id="password" onfocus="this.value = this.value;"
                                name="password" value="">
                        <i class="fa fa-eye"></i>
                      </div>
                      <{if $userAction eq 'newUser' and !$badPassword and !$userError}>
                        <p class="input__info">Please create a password with at least 6 characters</p>
                      <{elseif $badPassword and $userAction eq 'newUser'}>
                        <p class="input__info">Invalid password</p>
                      <{elseif $badPassword and $userAction eq 'cartLogin'}>
                        <p class="input__info">Incorrect password - <a class="input__info__link" href="/resetpwd/">click here to reset</a></p>
                      <{elseif $userError}>
                        <p class="input__info"><{$userError}></p>
                      <{else}>
                        <p class="input__info"></p>
                      <{/if}>
                    </div>
                  <{/if}>
                <{/if}>

                <{if $cart3->getProducts()|@count eq 0}>
                  <button class="cta form__submit form-submit disabled" id="cart-continue" disabled>Continue</button>
                <{elseif !$loggedIn and !$returningGuest and $userAction ne 'cartLogin'}>
                  <button class="cta form__submit form-submit disabled" id="cart-continue" disabled>Continue</button>
                <{else}>
                  <button class="cta form__submit form-submit existing" id="cart-continue">Continue</button>
                <{/if}>
              </form>

              <{if !$loggedIn and $userAction ne 'search'}>
                <div class="form__help">
                  <{if $userAction ne 'cartLogin' and $userAction ne 'guest'}>
                    <form action="/index.php?action=prodcataloguecart&form_name=guest" method="get">
                      <input type="hidden" name="action" value="prodcataloguecart">
                      <input type="hidden" name="form_name" value="guest">
                      <input type="hidden" name="email" value="<{$email}>">
                      Or
                      <button id="guest-checkout" class="go__btn disabled">CHECKOUT AS A GUEST</button>
                    </form>
                    <br>
                    Already shopped with us?
                    <br>
                    <a href="/index.php?action=prodcataloguecart" class="go__btn">Try another email</a>
                    <br>
                  <{/if}>
                  <{if $userAction eq 'cartLogin'}>
                    <a href="/index.php?action=resetpwd" class="go__btn">FORGOT YOUR PASSWORD?</a>
                    <br>
                    <a href="/index.php?action=prodcataloguecart" class="go__btn">NOT YOU?</a>
                  <{/if}>
                </div>
              <{/if}>
            </div>
          </div>

          <div class="sidebar__links">
            <div class="help__cta">
              <{if !$meta_data}>
                <{show_block module='centres' block='get_meta_data'
                templateName="_blank"}>
              <{/if}>
              <{$chatHtml = $meta_data['Cart3 Chat Link']}>

              <{if is_object($chatHtml) and $chatHtml->getValue()}>
                <a href="<{$chatHtml->getValue()}>" target="_blank" class="" title="Help">
                  <i class="fa fa-comment-o"></i>
                  <span>Help</span>
                </a>
              <{/if}>

            </div>
          </div>
        </div>

      </aside>
    </div>
  </div>
<{/block}>
