// Fonts
@include op-font-face('Roboto', '/public/fonts/checkout/Roboto-Regular', '');
@include op-font-face('Roboto-Bold', '/public/fonts/checkout/Roboto-Bold', '');
@include op-font-face('Roboto-Light', '/public/fonts/checkout/Roboto-Light', '');
@include op-font-face('Lato', '/public/fonts/checkout/Lato-Regular', '');
@include op-font-face('Lato-Bold', '/public/fonts/checkout/Lato-Bold', '');

$font-family-primary: 'Roboto', sans-serif;
$font-family-primary-bold: 'Roboto-Bold', sans-serif;
$font-family-primary-light: 'Roboto-Light', sans-serif;
$font-family-secondary: 'Lato', sans-serif ;
$font-family-secondary-bold: 'Lato-Bold', sans-serif ;

// Colors

$color-accent: #ff0037;

$color-cta: $color-accent;
$color-help-link: #00bee1;
$color-anchor-text: #00bee1;
$color-header: #1c1c1c;
$color-nav-link: #A9A8A9;
$color-form-label: #A9A8A9;
$color-cart-prod-options: #6C6B6C;
$color-body-bg: #E8E8E8;
$color-footer: #222;
$color-warning: #ee1d3e;
$color-positive: #6ec72e;
$color-border: #CBCBCB;

// Border Radius
$border-radius-btn: 2px;

// transition
$transition: transform 0.2s cubic-bezier(0.02, 1.505, 0.745, 1.235);