<{extends file="layout--order.html"}>
<{block name=section}>order-process order-payment<{/block}>
<{block name="body"}>
  <div class="content" id="outer-content" data-coupon="<{$cart3->getVoucherCode()}>">

    <div class="content__inner">

      <form action="/index.php?<{$return_page}>" data-form="continue-form" method="post" id="checkout-payment" name="paymentForm" class="customer__form">

        <input type="hidden" name="action" value="prodcatalogueorder"/>
        <input type="hidden" name="form_name" value="checkout_payment"/>
        <input type="hidden" name="form_action" value="complete"/>
        <input type="hidden" id="billing_countryId" name="billing_countryId" value="US"/>
        <input type="hidden" name="different_billing" id="different_billing" value="FALSE">

        <section class="content content--main">

          <h2 class="content__title">Billing Contact Information</h2>

          <div class="content__card">

            <{if $errors or $cart3Error}>
              <div class="rte errors">
                <p><strong>Please fix the following errors before proceeding:</strong></p> <br>
                <ul>
                  <{if $errors}>
                    <{foreach "<br>"|explode:$errors as $errorItem}>
                      <li><{$errorItem}></li>
                    <{/foreach}>
                  <{/if}>
                  <{if $cart3Error}>
                    <li><{$cart3Error}></li>
                  <{/if}>
                </ul>
              </div>
            <{/if}>

            <input class="radio disable__form" type="checkbox" id="same-delivery" name="samedelivery" <{if $sameDelivery}>checked="checked"<{/if}>>
            <label class="radio__label radio__label--delivery" for="same-delivery">
              <i class="fa"></i>
              Same as delivery contact
            </label>

            <div class="content__form">

              <div class="form__controls form__controls--3">
                <div class="form__item">
                  <input type="text" autocomplete="given-name" value="<{$user->getCartFirstName()}>" class="<{if $user->getCartFirstName()}>input--dirty<{/if}>" name="billing_firstname" id="billing_firstname" placeholder="">
                  <label for="billing_firstname">First name</label>
                </div>
                <div class="form__item">
                  <input type="text" autocomplete="family-name" value="<{$user->getCartLastName()}>" id="billing_lastname" class="<{if $user->getCartLastName()}>input--dirty<{/if}>" name="billing_lastname" placeholder="">
                  <label for="billing_lastname">Last name</label>
                </div>
                <div class="form__item">
                  <input type="text" class="<{if $user->getCartPhone()}>input--dirty<{/if}>" autocomplete="billing mobile tel" value="<{$user->getCartPhone()}>" id="billing_phone" name="billing_phone" placeholder="">
                  <label for="billing_phone">Mobile number</label>
                </div>
              </div>

              <div class="form__controls">
                <div class="form__item">
                  <input type="text" id="billing_street_address" autocomplete="billing street-address" class="input__bg <{if $user->getCartAddress()}>input--dirty<{/if}>" name="billing_street_address" value="<{$user->getCartAddress()}>" placeholder=""
                          style="">
                  <label for="billing_street_address">Billing address</label>
                </div>
              </div>

              <div class="form__controls form__controls--3" id="billing-fields">
                <div class="form__item">
                  <input type="text" name="billing_city" autocomplete="billing address-level2" class="<{if $user->getCartSuburb()}>input--dirty<{/if}>" id="billing_city" value="<{$user->getCartSuburb()}>"/>
                  <label for="billing_city">Suburb / City<span class="require-star">*</span></label>
                </div>
                <div class="form__item">
                  <select id="billing_select" name="billing_state" class="input--dirty">
                    <option <{if $user->getCartState() == 'AL' }>selected <{/if}>value="AL">Alabama</option>
                    <option <{if $user->getCartState() == 'AK' }>selected <{/if}>value="AK">Alaska</option>
                    <option <{if $user->getCartState() == 'AZ' }>selected <{/if}>value="AZ">Arizona</option>
                    <option <{if $user->getCartState() == 'AR' }>selected <{/if}>value="AR">Arkansas</option>
                    <option <{if $user->getCartState() == 'CA' }>selected <{/if}>value="CA">California</option>
                    <option <{if $user->getCartState() == 'CO' }>selected <{/if}>value="CO">Colorado</option>
                    <option <{if $user->getCartState() == 'CT' }>selected <{/if}>value="CT">Connecticut</option>
                    <option <{if $user->getCartState() == 'DE' }>selected <{/if}>value="DE">Delaware</option>
                    <option <{if $user->getCartState() == 'DC' }>selected <{/if}>value="DC">District Of Columbia</option>
                    <option <{if $user->getCartState() == 'FL' }>selected <{/if}>value="FL">Florida</option>
                    <option <{if $user->getCartState() == 'GA' }>selected <{/if}>value="GA">Georgia</option>
                    <option <{if $user->getCartState() == 'HI' }>selected <{/if}>value="HI">Hawaii</option>
                    <option <{if $user->getCartState() == 'ID' }>selected <{/if}>value="ID">Idaho</option>
                    <option <{if $user->getCartState() == 'IL' }>selected <{/if}>value="IL">Illinois</option>
                    <option <{if $user->getCartState() == 'IN' }>selected <{/if}>value="IN">Indiana</option>
                    <option <{if $user->getCartState() == 'IA' }>selected <{/if}>value="IA">Iowa</option>
                    <option <{if $user->getCartState() == 'KS' }>selected <{/if}>value="KS">Kansas</option>
                    <option <{if $user->getCartState() == 'KY' }>selected <{/if}>value="KY">Kentucky</option>
                    <option <{if $user->getCartState() == 'LA' }>selected <{/if}>value="LA">Louisiana</option>
                    <option <{if $user->getCartState() == 'ME' }>selected <{/if}>value="ME">Maine</option>
                    <option <{if $user->getCartState() == 'MD' }>selected <{/if}>value="MD">Maryland</option>
                    <option <{if $user->getCartState() == 'MA' }>selected <{/if}>value="MA">Massachusetts</option>
                    <option <{if $user->getCartState() == 'MI' }>selected <{/if}>value="MI">Michigan</option>
                    <option <{if $user->getCartState() == 'MN' }>selected <{/if}>value="MN">Minnesota</option>
                    <option <{if $user->getCartState() == 'MS' }>selected <{/if}>value="MS">Mississippi</option>
                    <option <{if $user->getCartState() == 'MO' }>selected <{/if}>value="MO">Missouri</option>
                    <option <{if $user->getCartState() == 'MT' }>selected <{/if}>value="MT">Montana</option>
                    <option <{if $user->getCartState() == 'NE' }>selected <{/if}>value="NE">Nebraska</option>
                    <option <{if $user->getCartState() == 'NV' }>selected <{/if}>value="NV">Nevada</option>
                    <option <{if $user->getCartState() == 'NH' }>selected <{/if}>value="NH">New Hampshire</option>
                    <option <{if $user->getCartState() == 'NJ' }>selected <{/if}>value="NJ">New Jersey</option>
                    <option <{if $user->getCartState() == 'NM' }>selected <{/if}>value="NM">New Mexico</option>
                    <option <{if $user->getCartState() == 'NY' }>selected <{/if}>value="NY">New York</option>
                    <option <{if $user->getCartState() == 'NC' }>selected <{/if}>value="NC">North Carolina</option>
                    <option <{if $user->getCartState() == 'ND' }>selected <{/if}>value="ND">North Dakota</option>
                    <option <{if $user->getCartState() == 'OH' }>selected <{/if}>value="OH">Ohio</option>
                    <option <{if $user->getCartState() == 'OK' }>selected <{/if}>value="OK">Oklahoma</option>
                    <option <{if $user->getCartState() == 'OR' }>selected <{/if}>value="OR">Oregon</option>
                    <option <{if $user->getCartState() == 'PA' }>selected <{/if}>value="PA">Pennsylvania</option>
                    <option <{if $user->getCartState() == 'RI' }>selected <{/if}>value="RI">Rhode Island</option>
                    <option <{if $user->getCartState() == 'SC' }>selected <{/if}>value="SC">South Carolina</option>
                    <option <{if $user->getCartState() == 'SD' }>selected <{/if}>value="SD">South Dakota</option>
                    <option <{if $user->getCartState() == 'TN' }>selected <{/if}>value="TN">Tennessee</option>
                    <option <{if $user->getCartState() == 'TX' }>selected <{/if}>value="TX">Texas</option>
                    <option <{if $user->getCartState() == 'UT' }>selected <{/if}>value="UT">Utah</option>
                    <option <{if $user->getCartState() == 'VT' }>selected <{/if}>value="VT">Vermont</option>
                    <option <{if $user->getCartState() == 'VA' }>selected <{/if}>value="VA">Virginia</option>
                    <option <{if $user->getCartState() == 'WA' }>selected <{/if}>value="WA">Washington</option>
                    <option <{if $user->getCartState() == 'WV' }>selected <{/if}>value="WV">West Virginia</option>
                    <option <{if $user->getCartState() == 'WI' }>selected <{/if}>value="WI">Wisconsin</option>
                    <option <{if $user->getCartState() == 'WY' }>selected <{/if}>value="WY">Wyoming</option>
                  </select>
                  <label for="billing_select">State</label>
                </div>
                <div class="form__item">
                  <input type="text" id="billing_postcode" autocomplete="billing postal-code" class="<{if $user->getCartPostcode()}>input--dirty<{/if}>" name="billing_postcode" value="<{$user->getCartPostcode()}>"/>
                  <label for="billing_postcode">Postcode</label>
                </div>
              </div>

            </div>
          </div>

          <h2 class="content__title">Add Vouchers</h2>

          <div class="content__card">
            <input class="radio hide__form" type="checkbox" <{if $cart3->getVoucherCode()}>checked="checked"<{/if}> id="add-voucher" name="addvoucher">
            <label class="radio__label" for="add-voucher">
              <i class="fa"></i>
              Apply a Discount Voucher
            </label>

            <div class="content__form">
              <div class="form__controls form__controls--voucher">
                <div class="form__item">
                  <input type="text" value="<{$cart3->getVoucherCode()}>" autocomplete="off" class="<{if $cart3->getVoucherCode()}>input--dirty<{/if}>" id="voucher-code">
                  <label for="voucher-code">Enter Voucher Code</label>
                </div>
              </div>
              <button class="cta cta--voucher coupon-submit" id="apply-coupon">Apply</button>
            </div>
            <div class="" id="voucher-errors"></div>
          </div>

          <div class="card__heading">
            <h2 class="content__title">Payment Options</h2>

            <{if !$meta_data}>
              <{show_block module='centres' block='get_meta_data'
              templateName="_blank"}>
            <{/if}>
            <{$secureLogo = $meta_data['Cart3 Secure Logo']}>

            <div class="comodo__seal">
              <{if is_object($secureLogo) and $secureLogo->getValue()}>
                <img src="<{$smarty.session.centre_asset_host}>/web_images/metadata/<{$secureLogo->getValue()}>" alt="Secure Checkout">
              <{/if}>
            </div>

          </div>

          <div class="content__card content__card--no-pad">
            <div class="content__radio__inputs">
              <{foreach name=main from=$config_options key=curkey item=curoption}>

                <{if $curoption@iteration eq 1}>
                  <input type="hidden" id="payment-input" name="payment" value="<{$curoption->getID()}>"/>
                <{/if}>

                <{if $curoption->getKey() eq '127' or $curoption->getConfRoutine() eq 'showCC'}>
                  <{* Credit Card Option *}>
                  <div class="radio__copy">
                    <input class="radio hide__form" type="radio" data-optionid="<{$curoption->getID()}>" id="payment-option--<{$curoption->getID()}>" name="paymentselect" <{if $curoption@iteration eq 1}>checked="checked"<{/if}> >
                    <label class="radio__label" for="payment-option--<{$curoption->getID()}>">
                      <i class="fa"></i>
                      <img src="<{$smarty.session.centre_asset_host}>/public/images/checkout/payment-methods-full.png" alt="Visa MasterCard">
                    </label>

                    <div class="content__form">

                      <div class="form__controls form__controls--half">
                        <div class="form__item form__item--card">
                          <input type="text" class="input__card" name="cc_number" autocomplete="cc-number" maxlength="19" value="" id="cc_number"
                                  style="">
                          <label for="cc_number">Credit Card Number</label>
                        </div>
                      </div>

                      <div class="form__controls form__controls--half">
                        <div class="form__item">
                          <input type="text" value="" name="cc_owner" autocomplete="cc-name" id="cc_owner">
                          <label for="cc_owner">Credit Card Name</label>
                        </div>
                      </div>

                      <div class="form__controls form__controls--cc form__controls--half">
                        <div class="form__item">
                          <input type="text" class="" autocomplete="cc-exp-month" name="cc_expires_month" value="" maxlength="2" id="cc_expires_month">
                          <label for="cc_expires_month">MM</label>
                        </div>
                        <div class="form__item">
                          <input type="text" class="" value="" autocomplete="cc-exp-year" name="cc_expires_year" maxlength="2" id="cc_expires_year">
                          <label for="cc_expires_year">YY</label>
                        </div>
                        <div class="form__item">
                          <input type="text" name="cc_card_validation" class="input__card" autocomplete="off" maxlength="4" value="" id="cc_card_validation"
                                  style="background-image: url(<{$smarty.session.centre_asset_host}>/public/images/checkout/cvv.jpg)">
                          <label for="cc_card_validation">CVV Code</label>
                        </div>
                      </div>

                    </div>
                  </div>
                <{elseif $curoption->getKey() eq '135'}>
                  <{* PayPal *}>
                  <div class="radio__copy">
                    <input class="radio" type="radio" data-optionid="<{$curoption->getID()}>" id="payment-option--<{$curoption->getID()}>" name="paymentselect" <{if $curoption@iteration eq 1}>checked="checked"<{/if}> >
                    <label class="radio__label" for="payment-option--<{$curoption->getID()}>">
                      <i class="fa"></i>
                      <img src="<{$smarty.session.centre_asset_host}>/template_images/order-process/paypal.jpg" alt="Visa MasterCard">
                    </label>
                  </div>
                <{else}>
                  <{* Default - Payment by account etc *}>
                  <div class="radio__copy">
                    <input class="radio" type="radio" data-optionid="<{$curoption->getID()}>" id="payment-option--<{$curoption->getID()}>" name="paymentselect" <{if $curoption@iteration eq 1}>checked="checked"<{/if}> >
                    <label class="radio__label" for="payment-option--<{$curoption->getID()}>">
                      <i class="fa"></i>
                      <{$curoption->getName()}>
                    </label>
                  </div>
                <{/if}>
              <{/foreach}>
            </div>
          </div>

          <div class="card__heading">
            <h2 class="content__title">Review Purchase</h2>
            <a href="/index.php?action=prodcataloguecart" title="View Cart" class="title__link">Edit</a>
          </div>

          <div class="content__card">
            <{foreach $cart3->getProducts() as $currprod}>
              <div class="content__cart__item content__order__item">
                <{$optionID = ''}>
                <{if is_array($currprod.options)}>
                  <{foreach name=options from=$currprod.options key=curkey item=curoption}>
                    <{if is_object($curoption)}>
                      <{if $optionID}>
                        <{$optionID = $optionID|cat:"|`$curoption->getID()`"}>
                      <{else}>
                        <{$optionID = $optionID|cat:"`$curoption->getID()`"}>
                      <{/if}>
                    <{/if}>
                  <{/foreach}>
                <{/if}>

                <{show_block
                  module='prodcatalogue'
                  block='show_variant_filters_v2'
                  product_id=$currprod.id
                  options=$optionID
                  template_name="_blank"
                }>

                <{if $variant and !empty($variant.assets)}>
                  <{foreach $variant.assets as $image}>
                    <{$variantImage = $image.url}>
                    <{break}>
                  <{/foreach}>
                  <div class="content__image">
                    <div class="image"
                            style="background-image: url('<{$variantImage}>')">

                    </div>
                  </div>
                <{else}>

                  <{$assets = $currprod.object->getAssets()}>
                  <div class="content__image">
                    <div class="image" style="background-image: url('<{if is_object($assets.image)}><{$assets.image->getUrl()}><{/if}>')"></div>
                  </div>
                <{/if}>

                <div class="content__product">

                  <div class="product__description">
                    <h3 class="product__title"><{$currprod.name}></h3>

                    <{if is_array($currprod.options)}>
                      <p class="product__options">
                        <{foreach name=options from=$currprod.options key=curkey item=curoption}>
                          <{if is_object($curoption)}>
                            <{$curoption->getOptionlistObject()->getText()}>:
                            <span><{$curoption->getText()}></span>
                          <{/if}>
                        <{/foreach}>
                      </p>
                    <{/if}>
                    <p class="product__quantity__price">
                      <span class="quantity">Qty: <{$currprod.quantity}></span>
                      <span class="pricing">Price: $<{$currprod.price|number_format:2}></span>
                    </p>
                  </div>
                  <div class="product__total show__desktop">
                    <p class="">$<{$currprod.final_price|number_format:2}></p>
                  </div>
                </div>

              </div>
            <{/foreach}>

          </div>


          <div class="content__subtotal">
            <div class="content__cart__item">
              <div class="content__image">
                <h2>Total</h2>
              </div>
              <div class="content__product">
                <div class="product__actions">
                  <{$cart3->countItems()}> Items
                </div>
                <div class="product__description">
                  <div class="dummy"></div>
                </div>
                <div class="product__total">
                  <p>$<{$cart3->getTotal()|number_format:2}></p>
                </div>
              </div>
            </div>
          </div>

        </section>

        <aside class="content content--aside">
          <div class="fixed__wrapper">
            <div class="comodo__seal">
              <{if is_object($secureLogo) and $secureLogo->getValue()}>
                <img src="<{$smarty.session.centre_asset_host}>/web_images/metadata/<{$secureLogo->getValue()}>" alt="Secure Checkout">
              <{/if}>
            </div>

            <div class="content__card ">
              <div class="content__order__status">
                <div class="status__items">
                  <div class="item__copy">
                    Items (<{$cart3->getProducts()|@count}>)
                  </div>
                  <div class="item__copy coredna-subtotal">
                    $<{$cart3->getSubTotal()|number_format:2}>
                  </div>
                  <div class="item__copy">
                    Postage
                  </div>
                  <div class="item__copy coredna-delivery">
                    <{if $cart3->getShippingTotal()}>$<{$cart3->getShippingTotal()|number_format:2}><{else}>Free<{/if}>
                  </div>
                  <div class="item__copy">
                    Tax
                  </div>
                  <div class="item__copy">
                    <span id="cart-tax" class="coredna-tax">$<{$cart3->getTax()|number_format:2}></span>
                  </div>
                  <div class="item__copy voucher-item active <{if $cart3->getDiscountTotal()}>active-discount<{/if}>">
                    <div class="voucher__wrap">Discount</div>
                  </div>
                  <div class="item__copy voucher-item active <{if $cart3->getDiscountTotal()}>active-discount<{/if}>">
                    <div class="voucher__wrap">-<span class="coredna-discount" id="payment-discount">$<{$cart3->getDiscountTotal()|number_format:2}></span></div>
                  </div>
                </div>
                <div class="status__total">
                  <div class="item__copy total__copy">
                    Order Total
                  </div>
                  <div class="item__copy total__copy coredna-total" id="cart-payment-total">
                    $<{$cart3->getTotal()|number_format:2}>
                  </div>
                </div>
              </div>

              <button class="cta form-submit coredna-submit form__submit pay-submit" type="submit">Confirm and pay</button>

            </div>

            <div class="sidebar__links">

              <div class="help__cta">

                <{if !$meta_data}>
                  <{show_block module='centres' block='get_meta_data'
                  templateName="_blank"}>
                <{/if}>
                <{$chatHtml = $meta_data['Cart3 Chat Link']}>

                <{if is_object($chatHtml) and $chatHtml->getValue()}>
                  <a href="<{$chatHtml->getValue()}>" target="_blank" class="" title="Help">
                    <i class="fa fa-comment-o"></i>
                    <span>Help</span>
                  </a>
                <{/if}>

              </div>

            </div>

          </div>

        </aside>

      </form>

    </div>

  </div>
<{/block}>
