@import "../../theme";

.root {
  @media #{$desktop} {
    display: flex;
  }
}

.reverse {
  @media #{$desktop} {
    flex-direction: row-reverse;
  }
}

.content {
  @media #{$desktop} {
    flex: 1 1;
  }
}

.aside {
  @media #{$desktop} {
    padding-left: $grid-gutter-width;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
