@import "../../theme";

.print {
  @media print {
    display: none !important;
  }
}

.screen {
  @media screen {
    display: none !important;
  }
}

.mobile {
  @media #{$mobile} {
    display: none !important;
  }
}

.desktop {
  @media #{$desktop} {
    display: none !important;
  }
}
